<?xml version="1.0" ?>
<data jsxid="jsxroot">
  <record jsxid="id" type="string">giIPVSCommon</record>
  <record jsxid="name" type="string">IPVS Commnon Addin</record>
  <record jsxid="description" type="string">IPVS Common Code v3.0</record>
  <record jsxid="long_description" type="string">IPVS Common Code Classes and Components</record>
  <record jsxid="addin" type="string">com.ipvs.ADDIN</record>
  <record jsxid="version" type="string">1.0</record>
  <record jsxid="jsxversion" type="string">3.8</record>

  <record jsxid="includes" type="array">
    <record jsxid="0" type="map">
      <record jsxid="id" type="string">Notification_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/Notification.js</record>
    </record>
    <record jsxid="1" type="map">
      <record jsxid="id" type="string">ServiceAgent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/agent/ServiceAgent.js</record>
    </record>
    <record jsxid="2" type="map">
      <record jsxid="id" type="string">Request_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/Request.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">SessionInfo_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/SessionInfo.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">Session_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/Session.js</record>
    </record>
    <record jsxid="5" type="map">
      <record jsxid="id" type="string">API_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/API.js</record>
    </record>
    <record jsxid="6" type="map">
      <record jsxid="id" type="string">Collaboration_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/Collaboration.js</record>
    </record>
    <record jsxid="7" type="map">
      <record jsxid="id" type="string">DisplayAgent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/agent/DisplayAgent.js</record>
    </record>
    <record jsxid="8" type="map">
      <record jsxid="id" type="string">SessionAgent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/agent/SessionAgent.js</record>
    </record>
    <record jsxid="9" type="map">
      <record jsxid="id" type="string">SSAgent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/agent/SSAgent.js</record>
    </record>
    <record jsxid="10" type="map">
      <record jsxid="id" type="string">Applet_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/Applet.js</record>
    </record>
    <record jsxid="11" type="map">
      <record jsxid="id" type="string">IPVSComponentI_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/IPVSComponentI.js</record>
    </record>
    <record jsxid="12" type="map">
      <record jsxid="id" type="string">Preferences_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/Preferences.js</record>
    </record>
    <record jsxid="13" type="map">
      <record jsxid="id" type="string">UserPermission_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/UserPermission.js</record>
    </record>
    <record jsxid="14" type="map">
      <record jsxid="id" type="string">AppI_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/app/AppI.js</record>
    </record>
    <record jsxid="15" type="map">
      <record jsxid="id" type="string">commonUtilFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/commonUtilFnc.js</record>
    </record>
    <record jsxid="16" type="map">
      <record jsxid="id" type="string">commonUtilFncMsie_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/commonUtilFncMsie.js</record>
    </record>
    <record jsxid="17" type="map">
      <record jsxid="id" type="string">HandleInActivity_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/HandleInActivity.js</record>
    </record>
    <record jsxid="18" type="map">
      <record jsxid="id" type="string">HandleMemory_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/HandleMemory.js</record>
    </record>
    <record jsxid="19" type="map">
      <record jsxid="id" type="string">List_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/List.js</record>
    </record>    
    <record jsxid="20" type="map">
      <record jsxid="id" type="string">SessionInfo_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/SessionInfo.js</record>
    </record>
    <record jsxid="21" type="map">
      <record jsxid="id" type="string">Session_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/Session.js</record>
    </record>
    <record jsxid="22" type="map">
      <record jsxid="id" type="string">DisplayAgent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/agent/DisplayAgent.js</record>
    </record>
    <record jsxid="23" type="map">
      <record jsxid="id" type="string">SessionAgent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/agent/SessionAgent.js</record>
    </record>
    <record jsxid="24" type="map">
      <record jsxid="id" type="string">SSAgent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/agent/SSAgent.js</record>
    </record>
    <record jsxid="25" type="map">
      <record jsxid="id" type="string">Common_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/Common.js</record>
    </record>
    <record jsxid="26" type="map">
      <record jsxid="id" type="string">MediaPlayerIE_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/MediaPlayerIE.js</record>
    </record>
    <record jsxid="27" type="map">
      <record jsxid="id" type="string">MediaPlayerWindow_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/MediaPlayerWindow.js</record>
    </record>
    <record jsxid="28" type="map">
      <record jsxid="id" type="string">DisplayPanel_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/DisplayPanel.js</record>
    </record>
    <record jsxid="29" type="map">
      <record jsxid="id" type="string">Collaboration_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/Collaboration.js</record>
    </record>
    <record jsxid="30" type="map">
      <record jsxid="id" type="string">SessionControllerI_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/SessionControllerI.js</record>
    </record>
    <record jsxid="31" type="map">
      <record jsxid="id" type="string">WindowControllerI_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/WindowControllerI.js</record>
    </record>
    <record jsxid="32" type="map">
      <record jsxid="id" type="string">CustomAlignBlock_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/CustomAlignBlock.js</record>
    </record>
    <record jsxid="33" type="map">
      <record jsxid="id" type="string">SessionSliderToolTipTime_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/SessionSliderToolTipTime.js</record>
    </record>
    <record jsxid="34" type="map">
      <record jsxid="id" type="string">Controller_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/Controller.js</record>
    </record>
    <record jsxid="35" type="map">
      <record jsxid="id" type="string">SessionSlider_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/SessionSlider.js</record>
    </record>
    <record jsxid="36" type="map">
      <record jsxid="id" type="string">MediaPlayer_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/MediaPlayer.js</record>
    </record>
    <record jsxid="37" type="map">
      <record jsxid="id" type="string">BookmarksList_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/BookmarksList.js</record>
    </record>
    <record jsxid="38" type="map">
      <record jsxid="id" type="string">Bookmark_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/Bookmark.js</record>
    </record>
    <record jsxid="39" type="map">
      <record jsxid="id" type="string">commonDateFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/commonDateFnc.js</record>
    </record>
	<record jsxid="40" type="map">
      <record jsxid="id" type="string">RequestRules_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/api/RequestRules.js</record>
    </record>
	<record jsxid="41" type="map">
      <record jsxid="id" type="string">Pagination_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/gui/Pagination.js</record>
    </record>
	<record jsxid="42" type="map">
      <record jsxid="id" type="string">jsonxml_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/jsonxml.js</record>
    </record>
    <record jsxid="43" type="map">
      <record jsxid="id" type="string">json2_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/com/ipvs/util/json2.js</record>
    </record>
  </record>
</data>