@charset "utf-8";
/* CSS Document */
#JSX .jsx30block {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

.JSX .formRow {
    border-bottom: solid 1px #ff0000;
}

.JSX .formSectionTitle {
    background-color: #e5e5e5;
}

.T1 {
        color: #fff;
        font-weight: bold;
        font-size: 10px;
}
.H1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #fff;
    background-image: url(images/panels/H1BG.png);
    background-position: top;
    background-repeat: repeat-x;
         border: solid 1px #d4d4d4;
}
.H2 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:normal;
    color: #000;
    background-image: url(images/panels/H2BG.png);
    background-position: top;
    background-repeat: repeat-x;
}
.H3 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:bold;
    color: #000033;
    }
.normal {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    }
.P1 {
    background-color: #aaaaaa;
    }
.P2 {
    background-color: #c3c3c3;
    }
.P3 {
    background-color: #e5e5e5;
    }
.P4 {
    background-color: #f5f5f5;
    }
.Btn    {
            background-image: url(images/buttons/btnBG.jpg);
    }
.Btn2 {
        background-image: url(images/buttons/Btn2BG.png);
        background-position: top left;
        }
.btnGreen {
        background-image: url(images/buttons/greenBG.gif);
}
.btnBlue {
        background-image: url(images/buttons/blueGlassBG.jpg);
        background-position: center left;
        color: #fff;
}
.txtBG {
    background-image: url(images/txtBG.jpg);
    background-position: top;
    background-repeat: repeat-x;
}
.HBOX {
        background-color: #f2fff2;
        border: solid 1px #33cc33;
}
.LBOX {
        background-color: #efefef;
}
.subNav {
        font-size: 10px;
}
.subNavOn {
        background-color: #d8dbde;
        font-size: 10px;
        font-weight: bold;
        font-style: italic;
}
.policyTable {
    border: solid 1px #cccccc;
}
.policyH2 {
    font-weight: bold;
    font-size: 11px;
    color: #666666;
    background-color: #cccccc;
    padding: 2px 2px 2px 10px;
}
.LabelDisabled {
        background-image: url(images/buttons/Btn2BG.png);
        background-position: top left;
        border: solid 1px #990000;
        }
#StreamMon {
    background-color: #dddddd;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 11px;
}
#StreamMon td {
    height:20px;
    width: 16%;
    background-color: #f9f9f9;
    text-align: left;
    padding-left: 2px;
}
#StreamMon td.label {
    background-color: #f9f9f9;
}
#StreamMon td.field {
    background-color: #e5e5e5;
    font-weight: bold;
    text-align: right;
    padding-right: 2px;
    border-top:1px solid #9898a5;
    border-right:1px solid #d8d8e5;
    border-bottom:1px solid #d8d8e5;
    border-left:1px solid #9898a5;
}