<?xml version="1.0" encoding="utf-8"?>
<data>
  <record jsxid="version" type="string">1.0</record>
  <record jsxid="jsxversion" type="string">3.2</record>
  <record jsxid="caption" type="string"></record>
  <record jsxid="mode" type="boolean">true</record>
  <record jsxid="namespace" type="string">IPVSAdminUI</record>
  <record jsxid="cancelerror" type="boolean">true</record>
  <record jsxid="cancelrightclick" type="boolean">true</record>
  <record jsxid="left" type="number">0</record>
  <record jsxid="top" type="number">0</record>
  <record jsxid="width" type="string">100%</record>
  <record jsxid="height" type="string">100%</record>
  <record jsxid="position" type="number">0</record>
  <record jsxid="overflow" type="string">3</record>
  <record jsxid="eventsvers" type="number">3.1</record>
  <record jsxid="default_locale" type="string">en_US</record>
  <record jsxid="onload" type="string">app_InitOnLoad();</record>
  <record jsxid="objectseturl" type="string">components/index.xml</record>
  <record jsxid="includes" type="array">
    <record jsxid="0" type="map">
      <record jsxid="id" type="string">appCanvas_component</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/appCanvas.xml</record>
    </record>
    <record jsxid="1" type="map">
      <record jsxid="id" type="string">logic_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/logic.js</record>
    </record>
    <record jsxid="2" type="map">
      <record jsxid="id" type="string">Applet_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/Applet.js</record>
    </record>
    <record jsxid="3" type="map">
      <record jsxid="id" type="string">commonCacheFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonCacheFnc.js</record>
    </record>
    <record jsxid="4" type="map">
      <record jsxid="id" type="string">commonRequestFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonRequestFnc.js</record>
    </record>
    <record jsxid="5" type="map">
      <record jsxid="id" type="string">commonRequestResponseFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonRequestResponseFnc.js</record>
    </record>
    <record jsxid="6" type="map">
      <record jsxid="id" type="string">commonResponseFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonResponseFnc.js</record>
    </record>
    <record jsxid="7" type="map">
      <record jsxid="id" type="string">commonTopicFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonTopicFnc.js</record>
    </record>
    <record jsxid="8" type="map">
      <record jsxid="id" type="string">cmpBlkUI_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkUI.js</record>
    </record>
    <record jsxid="9" type="map">
      <record jsxid="id" type="string">index_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/index.xml</record>
    </record>
    <record jsxid="10" type="map">
      <record jsxid="id" type="string">pageLogin_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/pageLogin.xml</record>
    </record>
    <record jsxid="11" type="map">
      <record jsxid="id" type="string">main_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/main.xml</record>
    </record>
    <record jsxid="12" type="map">
      <record jsxid="id" type="string">policyListUsers_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListUsers.xml</record>
    </record>
    <record jsxid="13" type="map">
      <record jsxid="id" type="string">policyListAssets_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListAssets.xml</record>
    </record>
    <record jsxid="14" type="map">
      <record jsxid="id" type="string">policyListStreams_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListStreams.xml</record>
    </record>
    <record jsxid="15" type="map">
      <record jsxid="id" type="string">groupTags_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/groupTags.xml</record>
    </record>
    <record jsxid="16" type="map">
      <record jsxid="id" type="string">assets_xml_</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/assets/assets.xml</record>
    </record>
    <record jsxid="17" type="map">
      <record jsxid="id" type="string">policies_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policies.xml</record>
    </record>
    <record jsxid="18" type="map">
      <record jsxid="id" type="string">policyListCollab_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListCollab.xml</record>
    </record>
    <record jsxid="19" type="map">
      <record jsxid="id" type="string">ipvsDynProp_xml</record>
      <record jsxid="type" type="string">jss</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">ipvsDynProp.xml</record>
    </record>
    <record jsxid="20" type="map">
      <record jsxid="id" type="string">AddPolicyStreamFilterResponse_xml</record>
      <record jsxid="type" type="string">xml</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">../IPVS-Common/xml/AddPolicyStreamFilterResponse.xml</record>
    </record>
    <record jsxid="21" type="map">
      <record jsxid="id" type="string">users_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/users/users.xml</record>
    </record>
    <record jsxid="22" type="map">
      <record jsxid="id" type="string">policyListFilters_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListFilters.xml</record>
    </record>
    <record jsxid="23" type="map">
      <record jsxid="id" type="string">clsAppletRequest_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/clsAppletRequest.js</record>
    </record>
    <record jsxid="24" type="map">
      <record jsxid="id" type="string">clsComponent_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/clsComponent.js</record>
    </record>
    <record jsxid="25" type="map">
      <record jsxid="id" type="string">clsRequest_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/clsRequest.js</record>
    </record>
    <record jsxid="26" type="map">
      <record jsxid="id" type="string">cmpDlgProfile_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgProfile.js</record>
    </record>
    <record jsxid="27" type="map">
      <record jsxid="id" type="string">cmpReq_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpReq.js</record>
    </record>
    <record jsxid="28" type="map">
      <record jsxid="id" type="string">cmpBlkUser_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkUser.js</record>
    </record>
    <record jsxid="29" type="map">
      <record jsxid="id" type="string">cmpDlgUser_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgUser.js</record>
    </record>
    <record jsxid="30" type="map">
      <record jsxid="id" type="string">commonNotificationFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonNotificationFnc.js</record>
    </record>
    <record jsxid="31" type="map">
      <record jsxid="id" type="string">cmpBlkPolicy_js_</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkPolicy.js</record>
    </record>
    <record jsxid="32" type="map">
      <record jsxid="id" type="string">cmpDlgMediaRoomPolicyRule_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaRoomPolicyRule.js</record>
    </record>
    <record jsxid="33" type="map">
      <record jsxid="id" type="string">cmpDlgAssetAdminPolicyRule_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgAssetAdminPolicyRule.js</record>
    </record>
    <record jsxid="34" type="map">
      <record jsxid="id" type="string">cmpDlgUserAdminPolicyRule_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgUserAdminPolicyRule.js</record>
    </record>
    <record jsxid="35" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamFilter_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamFilter.js</record>
    </record>
    <record jsxid="36" type="map">
      <record jsxid="id" type="string">cmpDlgTagObjectFilter_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgTagObjectFilter.js</record>
    </record>
    <record jsxid="37" type="map">
      <record jsxid="id" type="string">cmpDlgGroupTagDefName_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgGroupTagDefName.js</record>
    </record>
    <record jsxid="38" type="map">
      <record jsxid="id" type="string">cmpDlgGroupTagDefValue_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgGroupTagDefValue.js</record>
    </record>
    <record jsxid="39" type="map">
      <record jsxid="id" type="string">media_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/media/media.xml</record>
    </record>
    <record jsxid="40" type="map">
      <record jsxid="id" type="string">cmpBlkMedia_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkMedia.js</record>
    </record>
    <record jsxid="41" type="map">
      <record jsxid="id" type="string">profiles_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/assets/profiles.xml</record>
    </record>
    <record jsxid="42" type="map">
      <record jsxid="id" type="string">cmpBlkDevice_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkDevice.js</record>
    </record>
    <record jsxid="43" type="map">
      <record jsxid="id" type="string">cmpBlkProfile_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkProfile.js</record>
    </record>
    <record jsxid="44" type="map">
      <record jsxid="id" type="string">policyListMediaStore_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListMediaStore.xml</record>
    </record>
    <record jsxid="45" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStroreAdminPolicyRule_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStroreAdminPolicyRule.js</record>
    </record>
    <record jsxid="46" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamDirResource_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamDirResource.js</record>
    </record>
    <record jsxid="47" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamFileResource_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamFileResource.js</record>
    </record>
    <record jsxid="48" type="map">
      <record jsxid="id" type="string">policyListPolicies_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListPolicies.xml</record>
    </record>
    <record jsxid="49" type="map">
      <record jsxid="id" type="string">policyListAdminFilters_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListAdminFilters.xml</record>
    </record>
    <record jsxid="50" type="map">
      <record jsxid="id" type="string">cmpDlgObjectFilter_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgObjectFilter.js</record>
    </record>
    <record jsxid="51" type="map">
      <record jsxid="id" type="string">cmpDlgCommonUtils_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgCommonUtils.js</record>
    </record>
    <record jsxid="52" type="map">
      <record jsxid="id" type="string">commonErrorCode_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonErrorCode.js</record>
    </record>
    <record jsxid="53" type="map">
      <record jsxid="id" type="string">cmpDlgPolicyAdminPolicyRule_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgPolicyAdminPolicyRule.js</record>
    </record>
    <record jsxid="54" type="map">
      <record jsxid="id" type="string">commonUtilFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonUtilFnc.js</record>
    </record>
    <record jsxid="55" type="map">
      <record jsxid="id" type="string">cmpBlkLogin_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/cmpBlkLogin.js</record>
    </record>
    <record jsxid="56" type="map">
      <record jsxid="id" type="string">StreamingServiceStatus_xsl</record>
      <record jsxid="type" type="string">xsl</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">xsl/StreamingServiceStatus.xsl</record>
    </record>
    <record jsxid="57" type="map">
      <record jsxid="id" type="string">commonDateFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonDateFnc.js</record>
    </record>
    <record jsxid="58" type="map">
      <record jsxid="id" type="string">commonAgentCacheFnc_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonAgentCacheFnc.js</record>
    </record>
    <record jsxid="59" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceStatus_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceStatus.js</record>
    </record>
    <record jsxid="60" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceInfo_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceInfo.js</record>
    </record>
    <record jsxid="61" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceStreams_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceStreams.js</record>
    </record>
    <record jsxid="62" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceSystem_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceSystem.js</record>
    </record>
    <record jsxid="63" type="map">
      <record jsxid="id" type="string">MediaRoomStatus_xsl</record>
      <record jsxid="type" type="string">xsl</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">xsl/MediaRoomStatus.xsl</record>
    </record>
    <record jsxid="64" type="map">
      <record jsxid="id" type="string">cmpDlgFatalError_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/cmpDlgFatalError.js</record>
    </record>
    <record jsxid="65" type="map">
      <record jsxid="id" type="string">fatalErrorDialog_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">../IPVS-Common/components/fatalErrorDialog.xml</record>
    </record>
    <record jsxid="66" type="map">
      <record jsxid="id" type="string">alertDialog_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">../IPVS-Common/components/alertDialog.xml</record>
    </record>
    <record jsxid="67" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamFileResourceBookmarks_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamFileResourceBookmarks.js</record>
    </record>
    <record jsxid="68" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamFileResourceGroups_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamFileResourceGroups.js</record>
    </record>
    <record jsxid="69" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamFileResourceMetaData_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamFileResourceMetaData.js</record>
    </record>
    <record jsxid="70" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamFileResourceTitle_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamFileResourceTitle.js</record>
    </record>
    <record jsxid="71" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceAVSettings_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceAVSettings.js</record>
    </record>
    <record jsxid="72" type="map">
      <record jsxid="id" type="string">cmpDlgDevicePorts_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDevicePorts.js</record>
    </record>
    <record jsxid="73" type="map">
      <record jsxid="id" type="string">policyListNAT_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListNAT.xml</record>
    </record>
    <record jsxid="74" type="map">
      <record jsxid="id" type="string">cmpDlgNetworkAddressRule_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgNetworkAddressRule.js</record>
    </record>
    <record jsxid="75" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceStorage_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceStorage.js</record>
    </record>
    <record jsxid="76" type="map">
      <record jsxid="id" type="string">cmpDlgSystemSettings_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgSystemSettings.js</record>
    </record>
    <record jsxid="77" type="map">
      <record jsxid="id" type="string">ipvs_admin_css</record>
      <record jsxid="type" type="string">css</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">ipvs_admin.css</record>
    </record>
    <record jsxid="78" type="map">
      <record jsxid="id" type="string">cmpDlgHandleExportImport_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/cmpDlgHandleExportImport.js</record>
    </record>
    <record jsxid="79" type="map">
      <record jsxid="id" type="string">cmpDlgScheduleBackup_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgScheduleBackup.js</record>
    </record>
    <record jsxid="80" type="map">
      <record jsxid="id" type="string">initialSettings_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/initialSettings.xml</record>
    </record>
    <record jsxid="81" type="map">
      <record jsxid="id" type="string">cmpBlkMediaCommonUtils_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkMediaCommonUtils.js</record>
    </record>
    <record jsxid="82" type="map">
      <record jsxid="id" type="string">cmpDlgViewFiles_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgViewFiles.js</record>
    </record>
    <record jsxid="83" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceNASStatus_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceNASStatus.js</record>
    </record>
    <record jsxid="84" type="map">
      <record jsxid="id" type="string">commonCmpReq_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonCmpReq.js</record>
    </record>
    <record jsxid="85" type="map">
      <record jsxid="id" type="string">pagination_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/pagination.xml</record>
    </record>
    <record jsxid="86" type="map">
      <record jsxid="id" type="string">commonLogic_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonLogic.js</record>
    </record>
    <record jsxid="87" type="map">
      <record jsxid="id" type="string">AdminUI_Matrix_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">../../prototypes/common/AdminUI_Matrix.xml</record>
    </record>
    <record jsxid="88" type="map">
      <record jsxid="id" type="string">handleInactivity_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/handleInactivity.js</record>
    </record>
    <record jsxid="89" type="map">
      <record jsxid="id" type="string">commonPreferences_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonPreferences.js</record>
    </record>
    <record jsxid="90" type="map">
      <record jsxid="id" type="string">sessionMonitor_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/programs/sessionMonitor.xml</record>
    </record>
    <record jsxid="91" type="map">
      <record jsxid="id" type="string">cmpDlgExport_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgExport.js</record>
    </record>
    <record jsxid="92" type="map">
      <record jsxid="id" type="string">cmpDlgExportImportStatus_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgExportImportStatus.js</record>
    </record>
    <record jsxid="93" type="map">
      <record jsxid="id" type="string">DirSelection_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/DirSelection.js</record>
    </record>
    <record jsxid="94" type="map">
      <record jsxid="id" type="string">cmpDlgImport_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgImport.js</record>
    </record>
    <record jsxid="95" type="map">
      <record jsxid="id" type="string">cmpBlkSessionMonitor_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkSessionMonitor.js</record>
    </record>
    <record jsxid="96" type="map">
      <record jsxid="id" type="string">commonUtilFncFirefox_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonUtilFncFirefox.js</record>
    </record>
    <record jsxid="97" type="map">
      <record jsxid="id" type="string">commonUtilFncMsie_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">../IPVS-Common/js/commonUtilFncMsie.js</record>
    </record>
    <record jsxid="98" type="map">
      <record jsxid="id" type="string">profilesConnection_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/assets/profilesConnection.xml</record>
    </record>
    <record jsxid="99" type="map">
      <record jsxid="id" type="string">profilesDisplay_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/assets/profilesDisplay.xml</record>
    </record>
    <record jsxid="100" type="map">
      <record jsxid="id" type="string">cmpDlgHAConfig_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgHAConfig.js</record>
    </record>
    <record jsxid="101" type="map">
      <record jsxid="id" type="string">cmpDlgHAStatus_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgHAStatus.js</record>
    </record>
    <record jsxid="102" type="map">
      <record jsxid="id" type="string">cmpDlgDisplayProfile_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDisplayProfile.js</record>
    </record>
    <record jsxid="103" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceClientAVSettings_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceClientAVSettings.js</record>
    </record>
    <record jsxid="104" type="map">
      <record jsxid="id" type="string">blkReports_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkReports.xml</record>
    </record>
    <record jsxid="105" type="map">
      <record jsxid="id" type="string">cmpDlgReportInfo_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgReportInfo.js</record>
    </record>
    <record jsxid="106" type="map">
      <record jsxid="id" type="string">policyListMediaAccess_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListMediaAccess.xml</record>
    </record>
    <record jsxid="107" type="map">
      <record jsxid="id" type="string">policyListPortAccess_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListPortAccess.xml</record>
    </record>
    <record jsxid="108" type="map">
      <record jsxid="id" type="string">policyListCreateRecordings_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListCreateRecordings.xml</record>
    </record>
    <record jsxid="109" type="map">
      <record jsxid="id" type="string">policyListAssetAdminSession_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListAssetAdminSession.xml</record>
    </record>
    <record jsxid="110" type="map">
      <record jsxid="id" type="string">policyListSessionAccess_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListSessionAccess.xml</record>
    </record>
    <record jsxid="111" type="map">
      <record jsxid="id" type="string">blkUpgradeManager_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkUpgradeManager.xml</record>
    </record>
    <record jsxid="112" type="map">
      <record jsxid="id" type="string">blkPreferences_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkPreferences.xml</record>
    </record>
    <record jsxid="113" type="map">
      <record jsxid="id" type="string">cmpBlkUpgrade_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkUpgrade.js</record>
    </record>
    <record jsxid="114" type="map">
      <record jsxid="id" type="string">cmpBlkReports_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkReports.js</record>
    </record>
    <record jsxid="115" type="map">
      <record jsxid="id" type="string">blkRestore_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkRestore.xml</record>
    </record>
    <record jsxid="116" type="map">
      <record jsxid="id" type="string">blkBackup_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkBackup.xml</record>
    </record>
    <record jsxid="117" type="map">
      <record jsxid="id" type="string">cmpBlkBackupRestore_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkBackupRestore.js</record>
    </record>
    <record jsxid="118" type="map">
      <record jsxid="id" type="string">cmpBlkSystemAdmin_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkSystemAdmin.js</record>
    </record>
    <record jsxid="119" type="map">
      <record jsxid="id" type="string">policyListSessionAccess_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListSessionAccess.xml</record>
    </record>
    <record jsxid="120" type="map">
      <record jsxid="id" type="string">policyListMediaAccess_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListMediaAccess.xml</record>
    </record>
    <record jsxid="121" type="map">
      <record jsxid="id" type="string">policyListPortAccess_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListPortAccess.xml</record>
    </record>
    <record jsxid="122" type="map">
      <record jsxid="id" type="string">policyListCreateRecordings_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListCreateRecordings.xml</record>
    </record>
    <record jsxid="123" type="map">
      <record jsxid="id" type="string">policyListAssetAdminSession_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/policy/policyListAssetAdminSession.xml</record>
    </record>
    <record jsxid="124" type="map">
      <record jsxid="id" type="string">blkExAuth_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkExAuth.xml</record>
    </record>
    <record jsxid="125" type="map">
      <record jsxid="id" type="string">cmpBlkExternalAuth_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkExternalAuth.js</record>
    </record>
    <record jsxid="126" type="map">
      <record jsxid="id" type="string">cmpBlkPreferences_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkPreferences.js</record>
    </record>
    <record jsxid="127" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceNetwork_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceNetwork.js</record>
    </record>
    <record jsxid="128" type="map">
      <record jsxid="id" type="string">cmpDlgDeviceStorageStatus_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDeviceStorageStatus.js</record>
    </record>
    <record jsxid="129" type="map">
      <record jsxid="id" type="string">HardDiskDeviceStatus_xsl</record>
      <record jsxid="type" type="string">xsl</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">xsl/HardDiskDeviceStatus.xsl</record>
    </record>
    <record jsxid="130" type="map">
      <record jsxid="id" type="string">NASDeviceStatus_xsl</record>
      <record jsxid="type" type="string">xsl</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">xsl/NASDeviceStatus.xsl</record>
    </record>
    <record jsxid="131" type="map">
      <record jsxid="id" type="string">cmpDlgDownloadReport_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgDownloadReport.js</record>
    </record>
    <record jsxid="132" type="map">
      <record jsxid="id" type="string">cmpBlkMediaPvr_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkMediaPvr.js</record>
    </record>
    <record jsxid="133" type="map">
      <record jsxid="id" type="string">cmpDlgExportPvr_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgExportPvr.js</record>
    </record>
    <record jsxid="134" type="map">
      <record jsxid="id" type="string">cmpDlgMediaStreamDirStorageConfig_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpDlgMediaStreamDirStorageConfig.js</record>
    </record>
    <record jsxid="135" type="map">
      <record jsxid="id" type="string">blkDeviceDiscovery_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkDeviceDiscovery.xml</record>
    </record>
    <record jsxid="136" type="map">
      <record jsxid="id" type="string">systemAdmin_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/systemAdmin.xml</record>
    </record>
    <record jsxid="137" type="map">
      <record jsxid="id" type="string">cmpBlkDeviceDiscovery_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkDeviceDiscovery.js</record>
    </record>
    <record jsxid="138" type="map">
      <record jsxid="id" type="string">cmpBlkMulticastIPAddress_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkMulticastIPAddress.js</record>
    </record>
    <record jsxid="139" type="map">
      <record jsxid="id" type="string">blkMulticastRange_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkMulticastRange.xml</record>
    </record>
    <record jsxid="140" type="map">
      <record jsxid="id" type="string">cmpBlkHLS_js</record>
      <record jsxid="type" type="string">script</record>
      <record jsxid="load" type="number">1</record>
      <record jsxid="src" type="string">js/cmpBlkHLS.js</record>
    </record>
    <record jsxid="141" type="map">
      <record jsxid="id" type="string">blkHLS_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/admin/blkHLS.xml</record>
    </record>
    <record jsxid="142" type="map">
      <record jsxid="id" type="string">HAConfigDialog_xml</record>
      <record jsxid="type" type="string">component</record>
      <record jsxid="load" type="number">0</record>
      <record jsxid="src" type="string">components/assets/HAConfigDialog.xml</record>
    </record>
  </record>
  <record jsxid="bodyhotkeys" type="boolean">false</record>
  <record jsxid="onunload" type="string"></record>
  <record jsxid="addins" type="array">
    <record jsxid="0" type="string">amp</record>
    <record jsxid="1" type="string">user:ipvsCommon</record>
  </record>
</data>