/* CSS Document */


/* Dialog Translucent Border Frame
-----------------------------------------------------------*/
#JSX .dialogTop {
    background: url('images/panels/dialogTop.png');
}
#JSX .dialogLeft {
    background: url('images/panels/dialogLeft.png');
}
#JSX .dialogRight {
    background: url('images/panels/dialogRight.png');
    background-position: right;
    background-repeat: repeat-y;
}
#JSX .dialogBot {
    background: url('images/panels/dialogBot.png');
}
#JSX .dialogTL {
    background: url('images/panels/dialogCorners.png');
}
#JSX .dialogTR {
    background: url('images/panels/dialogCorners.png');
    top: 0; right: 0; background-position: -13px 0;
}
#JSX .dialogBL {
    background: url('images/panels/dialogCorners.png');
    bottom: 0; left: 0; background-position: 0 -13px;
}
#JSX .dialogBR {
    background: url('images/panels/dialogCorners.png');
    bottom: 0; right: 0; background-position: -13px -13px;
}
#JSX .dialogCenter {
    background: url('images/panels/dialogBG.png');
}
#JSX .dialogMask {
    background: url('images/panels/trans80.png');
}


/* Global
-----------------------------------------------------------*/

body {
    scrollbar-darkshadow-color: #777777;
    scrollbar-lightshadow-color: #777777; 
}

#JSX .jsx30block {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

#JSX .jsxcellbgcolor {
    background-color: #666666;
}

/* Base Color Scheme
-----------------------------------------------------------*/
P1BG {
    background-color: #666666;
}

P2BG {
    background-color: #bdbdbd;
}

P3BG {
    background-color: #d4d4d4;
}

P4BG {
    background-color: #f5f5f5;
}
/* Fonts
-----------------------------------------------------------*/


/* Backgrounds
-----------------------------------------------------------*/


/* Tables
-----------------------------------------------------------*/
#IPVS_Table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 0px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    color: #333;
    border: solid 1px #777777;
}
#IPVS_Table th
{
    font-size: 13px;
    font-weight: normal;
    padding: 2px 4px 2px 4px;
    background: #e4e4e4;
    background-image: url(H2BG.png); background-position:center; background-repeat:repeat-x;
    border-bottom: solid 1px #777777;
    text-align:center;
    color: #121212;
}

#IPVS_Table td
{
    padding: 4px 4px 4px 4px;
    background: #f5f5f5; 
    text-align: center;
    border-top: solid 1px #999999;
    border-right: solid 1px #999999;
}


#DiskUsage
{
    background: #e8edff; 
    border: none;
}

#DiskUsage td {
    font-size: 12px;
    border: none;
}


#DiskUsage .container {
    border:solid 1px #777777;
}

#DiskUsage .fill {
    background-color:#6699FF;
    background-image: url(matrixSelect.png); background-position:center; background-repeat:repeat-x;
}
#DiskUsage .subtext {
    font-size:10px;
    color: #555;
    text-align:center;
    vertical-align:text-top;
}

#RAID_Table {
    color: #555555;
    margin: 0px;
    width: 600px;
    text-align: left;
    border-collapse: collapse;
    border: solid 1px #777777;
}


#RAID_Table .header {
    color: #121212;
    padding: 0px 4px 0px 4px;
    background-color:#e5e5e5;
    xxbackground-image: url(H2BG.png); background-position:center; background-repeat:repeat-x;
}

#RAID_Table .colgroup {
    color: #121212;
    background-color: #e5e5e5;
    padding: 0px 4px 0px 4px;
}

#RAID_Table .t2 {
    color: #121212;
}



/* Mouse Cursor
-----------------------------------------------------------*/
#JSX .dropOK {
    border: solid 1px #FF9900;
    cursor: url(images/icons/zone_plus.png);
}
#JSX .dropDeny {
    cursor: url(images/icons/icon_slash.png);
}


/* Buttons
-----------------------------------------------------------*/
#JSX .navHighlight {
    background-color: #7da7bd;
    color:#ffffff;
    font-weight:bold;
}

#JSX .jsx30button {
    border-top:solid 1px #f6f6ff;
    border-right:solid 1px #ffcc00;
    border-bottom:solid 1px #ffcc00;
    border-left:solid 1px #f6f6ff;
}
#JSX .btnBlackGlass {
    background-image:url(images/buttons/blackGlass.png);
    background-position: center;
    background-repeat: repeat-x;
    border: solid 1px #acacac;
    color: #fff;
    cursor: hand;
}

#JSX .btnGrayGlass, #JSX .btnDefault, #JSX .btnOk, #JSX .btnCancel {
    background-color: #b9b8b8;
    background-image:url(images/buttons/silverGlass.png);
    background-position: center;
    background-repeat: repeat-x;
    color: #000;
    cursor: hand;
}

#JSX .btnBlueGlass, #JSX .btnAdd  {
    background-color: #678ea2;
    background-image:url(images/buttons/blueGlass.png);
    background-position: center;
    background-repeat: repeat-x;
    border: solid 1px #91bbd1;
    color: #121212;
    cursor: hand;
}

#JSX .btnGreenGlass {
    background-color: #689839;
    background-image:url(images/buttons/greenGlass.png);
    background-position: center;
    background-repeat: repeat-x;
    border: solid 1px #bcbcbc;
    color: #fff;
    cursor: hand;
}

#JSX .btnRedGlass {
    background-color: #ff0000;
    background-image:url(images/buttons/redGlass.png);
    background-position: center;
    background-repeat: repeat-x;
    border: solid 1px #bcbcbc;
    color: #fff;
    cursor: hand;
}

#JSX .btnOrangeGlass {
    background-color: #ff9933;
    background-image:url(images/buttons/orangeGlass.png);
    background-position: center;
    background-repeat: repeat-x;
    border: solid 1px #bcbcbc;
    color: #fff;
    cursor: hand;
}

/* Panels
-----------------------------------------------------------*/
#JSX .H1 {
    background-image:url(images/panels/H1BG.png);
    background-position: center;
    background-repeat: repeat-x;
}

#JSX .H2 {
    background-image:url(images/panels/H2BG.png);
    background-position center;
    background-repeat: repeat-x;
}

#JSX .headerBG {
    background-image:url(../../addins/ipvsCommon/images/panels/adminHeaderBG.png);
    background-position: left top;
    background-repeat: repeat-x;
    }

#JSX .titleBar {
    background-image:url(../../addins/ipvsCommon/images/panels/titleBarBG.png);
    background-position: left bottom;
    background-repeat: repeat-x;
}

#JSX .toolBar {
    background-image:url(../../addins/ipvsCommon/images/panels/toolbarBG.png);
    background-position: left bottom;
    background-repeat: repeat-x;
}
   
#JSX .loginBG {
    background-image:url(images/panels/loginBG.png);
    background-position: left top;
    background-repeat: no-repeat;
}

#JSX .dialogHeader {
    background-color: #e5e5e5;
    background-image: url(images/panels/dialogH1.png);
    background-position: top;
    border-bottom: solid 1px #fcfcfc;
}

#JSX .dialogFooter {
    background-color: #e5e5e5;
    background-image: url(images/panels/dialogH1.png);
    background-position: top;
    border-top: solid 1px #fcfcfc;
}

#JSX .dialogBody {
    background-color: #e5e5e5;
}

#JSX .dialogMenuBar {
    background-color: #d4d4d4;
}

#JSX .tagPanelBG {
    background-color: #cad4db;
}

#JSX .filterPanelBG {
    background-image: url(images/panels/filterPanelBG.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#JSX .transparentMask {
	background-image: url(images/panels/transparentMask.png);
}

/* Forms
-----------------------------------------------------------*/

#JSX .formRow {
    background-color: #e5e5e5;
}

#JSX .helpText {
    font-size: 11px;
    color: #555555;
}

#JSX .formText {
    font-size: 11px;
    font-weight: bold;
    color: #666666;
}

#JSX .formTextTrans {
    border:solid 1px #ffffff;
    background-image: url(../../addins/ipvsCommon/images/panels/formTextTrans.png);
    background-position: top left;
}

#JSX .formTextBox {
    background-color: #ffffff;
    border-top: solid 1px #888888;
    border-right: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-bottom: solid 1px #e1e1e1;
    background-image: url(../../addins/ipvsCommon/images/panels/formTextInnerShadow.png);
    background-position: top;
    background-repeat:repeat-x;
    color: #333333;
}


#JSX .formSectionTitle {
    background-color: #d8d8d8;
    font-size: 12px;
    color:#666666;
    font-weight: bold;
}

#JSX .formLabel {
    font-family: Lucida Grande, Tohoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #181818;
}

/* Windowing Profile
------------------------------------------------------------------*/
#JSX .canvasOuter {   
    background-color:#e5e5e5;
    border:solid 1px #e5e5e5;
}

#JSX .canvasOuterSelected {   
    background-color:#dddddd;
    border:solid 1px #2680bf;
}
#JSX .canvasInner {    
    border:solid 1px #9c9c9c;
    background-color:#c3c3c3;
}

#JSX .window {
    border:solid 2px #e5e5e5;
    background-color:#a2a2a2; 
    background-image: url(images/panels/canvasWinOffBG.png);  
    color: #ffffff; 
    text-align:left;
}

#JSX .windowSelected {
    border:solid 2px #008aff;
    background-color:#000000;  
    color: #ffffff;
    font-weight: bold;
    text-align:left;
}


/* List
------------------------------------------------------------------*/
#JSX .listRowOn {
    border-top:solid 1px #999999;   border-bottom:solid 1px #666666;
}

#JSX .listRowOver {
     border-top:solid 1px #999999;  border-bottom:solid 1px #666666;
    background-image: url(images/panels/selectOver.png);
    background-position: center;
    background-repeat: repeat-x;    
}

#JSX .listRowSelected {
     border-top:solid 1px #999999;  border-bottom:solid 1px #666666;
    background-color: #3284a4;
    background-image: url(images/panels/select.png);
    background-position: top;
    background-repeat: repeat-x;    
}

#JSX .swUpgrade {
  font-size:10px;
  font-weight:bold;
  padding-left:20px;
  background-image: url('../../addins/ipvsCommon/images/icons/icon_caution_small.png');
  background-repeat: no-repeat;
  background-position: left;
}
