html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.header {
  color: white;
  font-family: Verdana, Helvetica, sans-serif;
  padding: 10px;
}
.PlayerDetection {
  color: white;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 10px;
}