.playBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKFJREFUeNrsljsOgCAQREFt8EwkXozDSeRMUuJisLDwE9hRCiaZUADJCyyzyBCCqEmdqEwN6EnD24Wr9zMNZlTKXczf7qd97Cc0kZcIRtY1XRkUrKSGIGAcRb2DkWON6ZpeGQsY4tkXgSFzKAvsi2Dsk3mDMUMxQA3ZQpIaDYIAKgLhBGIB4QByqdnaN80VCXQC+e37gQY5JNufugEVahNgAIiYPsjSl2NzAAAAAElFTkSuQmCC);
  cursor: pointer;  
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.stopBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEVJREFUeNpi/P//P8NgAkwMgwyMOmjUQZQCFlI1PHj8jKRsqSArxTgaZaMOGnXQqINGHTTqIBoCxtEW46iDRh1EYwAQYAASzAorEeD35AAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.recordingBtn-off {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP5JREFUeNpi/P//P8NgAkwMgwyMOogQYCFX48PHz7yBFAgbA7EBEF8A4rNAvFVeVmorueYykpqogQ4RBVIzgTgQj7L1QJwOdNhrmjoI6BgVIHUYiCWIUP4CiA2BjnpBkzQEdAwzkFpBpGMYoOqm0TJRh0PTCykgEOiRcFo5KIrMdBpLKweZkekgY1o5SJRMBwnRykGvyXTQO1o56BSZDjpLKwetJNNBi2nloGXQ6oEUsB5YMK6kiYOABv8FUqHQEpgYAFKXRdPaHuioO0BKD1pXMRCoy/RIrTbIqlyRqpIQIJUALZ9EobkQlPAXAB2yhm61/WiLcdRBg91BAAEGAPU6Qkk69h2wAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.recordingBtn-on {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAP5JREFUeNpi/P//P8NgAkwMgwyMOogQYCFX4ztFVW8gBcLGQGwAxBeA+CwQbxW6f3srueYykpqogQ4RBVIzgTgQj7L1QJwOdNhrmjoI6BgVIHUYiCWIUP4CiA2BjnpBkzQEdAwzkFpBpGMYoOqm0TJRh0PTCykgEOiRcFo5KIrMdBpLKweZkekgY1o5SJRMBwnRykGvyXTQO1o56BSZDjpLKwetJNNBi2nloGXQ6oEUsB5YMK6kiYOABv8FUqHQEpgYAFKXRdPaHuioO0BKD1pXMRCoy/RIrTbIqlyRqpIQIJUALZ9EobkQlPAXAB2yhm61/WiLcdRBg91BAAEGAKEtRTUExfUQAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.pauseBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEdJREFUeNpi/P//P8NgAkwMgwyMOmjIOYiFVA0PHz9DyQXyslKMpMiPRtmog0YdNOqgUQeNOmjUQXQGjKNN2FEHDTcHAQQYAHFIDitbaaIBAAAAAElFTkSuQmCC);
  cursor: pointer;  
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.resumeBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAItJREFUeNrs1sEJgDAMBdBWO4UgLiK4mMMpukgRXKPmoHdt/pcc8iHHwqNNQmMpJVhKE4zFQTBQPs5FarR0Q5PUxobVPBkVpukhCgzR1FAYcsogMMbYq2DMPVQF+2Mxtne9SiJCdql56Lv1y6FkBcIAqSBIEASCAEEhGhAFUgOiQp5E/1M7SJlLgAEAgIlQLPxBiMgAAAAASUVORK5CYII=);
  cursor: pointer;  
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.skipForwardBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL5JREFUeNpi/P//P8NgAkwMgwyMOmjUQSPXQQ8eP9sAxAo45ByAuAGIBegZQv5AfAGPxfUgtwHlEugZZfxQiy/gsBgkPx8odwAUauQ4iJHYkhpoATaFB4G4Acrej0V+IUheQVbqAb0cBAM7gdgdh9xHIJ4AdFTDkMxlLBTqR44yd2pEGbkOegi1aAEs22NzKFD+AK1DCJweoGniAw75AphDaR1lG6GW4Qr+RjwOpX62H63LRh006qDh4iCAAAMAKihWv162lDkAAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.skipBackBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMFJREFUeNpi/P//P8NgAkwMgwyMOmjUQaMOQgcPHj8TAOIGIHbAIa8AxBuINY+FQsckAKkJQMwPxAfQHQqkCqCYn6YOgoZGAxDb43EoSF6eVLNZSHSIAtSieHIcSlUHgdIJgeCvAGL3kZvLFGSlQCFkAMQLcSjpAGJHID5ItxACOuoBECfgshgodwCIQekoEYgf0i3K0Cz+iEV+ATQ0G7HJ0ywNQS1WgFqMLvcBKZo3Emsm42gDbdRBow4aaQ4CCDAAZudDd/V50HsAAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.catchupBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAYCAYAAACBbx+6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAV9JREFUeNrsl01ERFEYhu9UhmGIKLVpW2ISEWUYajmku8tEmzKL9i0irVu1Ke3atJhNNIm2KdKsImYVERGzahUR4/Yc3sVxFDH0zXBfHt91zhnee+73YzJJkkS9pL6ox5QaTg0HGujkx6f1i3BpHmIoQj88wjVcwjFsQns9XrEx7GnI+YdysD4HVfiAPJzAnXVKDMKNZ/YLGlCHV63lFYvdkMPuUxf0XIMRWIBVeAjOlk1zGE1BRc/uRte8vT3ls69ZyMGn1Q0vK7ZhK9jbhTG9hLv5N5ldtLzhCcUmtH7Yb8lszTuftTSc9QrtL3qyLroXxYI+d9dPuivFnIrsN42qH1fVm81SwvXbWyjBtgrrKDgzDufqEK44Jy0NRxq39zAMh7ChcfyuFyl5ue46x7O1YWdgCc7UBWaEL1eUO3BgPTgir61NK0djbwQ3lTb7SpeOlUn/IqWGU8P/q28BBgCGiUCJgL8W4gAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 44px;
  height: 24px;
  display: block;
}

.addBookmarkBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAYCAYAAADtaU2/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJRJREFUeNpi/P//P8NAACaGAQIjz2IWYhU+ePyMUGLQU5CVujyigppzoCxmG03VoxaPWkwtwE8Pi48A8Vy6lNVI4DUQRwPxCyDWAmJLegV1HLAyeATEv4DsCKhDaG5xK9DCHTAOyAFQ3/+lpcUHgbgeXRBo+W4gVUOyl0FtLmLw/UdPJQjIixJrFggzjjb26AUAAgwANg5zfllQAj4AAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 30px;
  height: 24px;
  display: block;
}

.editBookmarkBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOZJREFUeNpi/P//PwMtARMDjcGoBQNvAQuxCqdOnykKpLYD8ZrszPQOqvoAaDgbkNIHYmMgbgfyi6hmAdAwaSB1FYjfA3EIVDiZKkEENFwOSB0AYkUgPgPElkDsDMQ3ibWAEVdORjMcBp4CsSEwDl5TFERAw0GGHsZiuDMphmMNIqjhIJfLIQk/AmIHoOH3KUqmSC6XRhK+DzX8ETUy2jcg7kHigyLTllzDUSwAut4S6toTQJwBxNegLn9KrZz8C4h/A/FxIJYA4nWkRighC0BBYwNKOUCDX1KrLGIcrdFGLaAYAAQYAEKISSFHxzmJAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  display: block;
}

.deleteBookmarkBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPRJREFUeNpi/P//PwMtARMDjcGoBQNvAQsyZ+r0mQlAqgWIg7Iz00+hKwbK2wCpdUBcBpRfQIwFjLBkCtTsDaS2QMU/ArEbsiVAeUsgtQuIeYD4LxD7AOV3kBJET6EGgwA/yDCgoWZIhm+HGg4CX4D4EUk+QDOIH8knlUDcjibmDHT9WZItwGEJMsAIOpJTEVDzcSDliRRcZBs+MPkATxChRDxZFiAlReQIzcKVukiyAKjJACmdI4f5dBCNxRIDUn0gDcScaEnxFDTiT6FFPMgRoiRZADRkK5BKgWYgjHSOlLpA8olA/m6y8sFocT1qAckAIMAA7N9roolWMwkAAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  display: block;
}

.trimBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNrslsFHg3EYx7dKjLEuHWqqy26JqEsUiegUu3WJ/QPZlIhYdkiHLqVD6tK13depU0RMhxgRI5UydhqdRtbn4RuTUr3LY9HLx2+/315+n/d5nvf5veFGoxFqp6sj1GbX3xe6e3gqQOQb9x1BwiNCY7D1hUySIQURD6EypNl05hOZXoYDTaseQmcaLSWxD/43GZO6HRror3gI7UMdBmHnXXQsTUlNt12Kmqd+ZNjQNKV6MZlmwVM4DCIUDtIY2byToQBzqpNhOAarq3sYR7zqJtRUvJdKnUUtrlROI3Ph3hgVgQVJxLWcaUXmNzp10d4m/a5BvtVO/eOUqX7WYV71M6siX1aPepFkJkgddQV4iFXIaWOTy7PxJqIWoT2tT6i2pjxSloYS9MCJRUpRm4Rn6INdm7M+4iEUtdQQFdv8BroVKTu3KkpTUffGPITOrf/w9FnGRbhCoi6JBOt28GYVrZKH0IreqJyikmk6UkxgzcRgCdGaV6e2pjgK1zpK3tajKmg7WMuunfr/E/ZfSNerAAMAy7qYmJIcGWcAAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.loadBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANdJREFUeNpi/P//P8NgAkwMgwwMTwc9fPxMC4ifAHHOYAkhAyCWBmLL0SgbcQ5ioSAh8wCpOiDehCYuCqRKgXiZvKzUBbo5CAjMoBaDctYsqBgnEG+ByjEDMckOYqSkpAaGxnwglYBF6g4QWwFD6DW901AKepQBAcgRnuQ4hqQQAobGXhANtMgZTRwUTQeg0fQdiB2Aak4Ro5fSNOSETRBoyXeghT7Q9LQJ3TH49FI7USM7ChQ9ZaMF46AsGIHp5f9gCaEdFNp1guYF42htP+qgwegggAADABgnR/07cl2CAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.unloadBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOJJREFUeNpi/P//P8NgAkwMgwwMTwc9fPzMBojvAXE1pWYxUpqGgI7QBVKHgZgfKlQpLyvVMSAOAjpGGkidBGJpNKlooKOW0TXKgI7hAVJ7oY75CBV+DaXng6KR3mnIDIjVgfgsKJqgYruBGBRdbEAcRVcHAaNkH5CyheKPSOIgx5kDcRk55rJQkqCBlh+BRh+6+KnRcmjAHQSMlr0gjEP6FxqNrnclEB+idhpywiO3A4i7gRhX2RNGl0SNlIi/kJurRhM1zcshYOL8P1hCaAeFdp2gS/NjtGAcddBgcxBAgAEAAehNux7ZcTMAAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.hideBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeBJREFUeNrsl0FEBFEYx3d2RyxLp4glIjZpl+jSrQ4R0SlKKh0i1aFOKVFi07I6Vdtu6lBdSoeI6BhFx05Fh0REskUssWT6f/qW5xnmvdnZGurx82a+me+9/77v+96bNSzLCvipBQM+a39P0MZmrhfM+0IQiUF3AJK4XvhVQYKYEJsGYIs4+ZllTBhFNwR6QIzNd+AE5EFWEEP29snxsYLTuIZu2UNIGN0sU6XgUhLzrDK+qSmmG90aqBfMb+ABkNAmyaUIFlXFKK8QhNDSr4IpwXwFUuCS8gO0gkEhTGJLQdScJ4I4EY9AF5toNSYwwRk/uwYNNmFaAcsgyrZT0O+UR0EHMTXoLgQx+yBBYvi+z0ZMnnNmF30j+1CjcJ/zmK7L/hO8C/dhKSQtNj5bQs6E2KfUCjxmWSGjSsqBETY9glFQLe0z1F5BMwmCXyeut0EdPzsEw3hW9KTsMUESnXgEkKPB1y8gwwJjvCW0Ce+mIWTGsyoTRNGv3gO1UlhvWFxccqHVnIaYY9U5dHdqCpOclBSyhM3+k6Yqg5gPnQlMjdWRz6Z7zosO3hDJfsvlvQMhT26OJNOlGK3joBLfQ/GfEKNbZUu8EVZMzHftQpAq65lsROd9Nxj//zoc2pcAAwDsPxCDlmDLSwAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.showBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYVJREFUeNrslUFERFEUhpuGiLatWkWUoZal9qVEbSKibakWtSmTtkWMVqm0iGgVEZkYIkORWs4iIiKGiIgYIq/v8D+uy+SZmmkW7/A77953zn3fPe/c9xJBEDTUkyVioBgoBpLt7O234abRGOrU9AM6Q4cLc7MvNQECpBmXlprKhJXQpgmwz6oBATOK20btzvQbekIGmvJSHtE8UBd/CgRIEreFFp3pG1XhGk2pWjnUgdZQrxNrlVqNAtQYAaYFl3VgrBojPGAAf4luVTUDzqM77vXhx1FROWnWyWqtyoFYoBV3hYY1dYR6eGBO40lVJDSLn7ELYqy5u5RjZq87rzUrrtAXenfG1idJ775vbhMnlRPaR5mcaEDs0hp2yI6xpiZQgV0Oanyixg3tNYxVTEE5Zse2ltb8/SnjAetq1p+a+lzfJPsk9DuxGUBWqnHsbde7Xt+Ex96Aur2UZ7QEzGktPozLXn/4fZRBG8CU/uPXkVID3+u1HQBSjP/2MVAMVI9A3wIMAGm3rM8qW37VAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.shareBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAYCAYAAACBbx+6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUhJREFUeNpi/P//P8NQAkwMQwyMOpjWgIUelixavyEBSAUBMQ8QHwHinrjAgE+D0sFAx4IcmoMk5AXE7EBcPliThDkWMctBmYaBoSsPpKSwSN0aVGkY6FAJIJUKxL5AvAOIr0PTMAOUXUOu2YyUVBxAh2lCoxyUgfYAMTPUoYFAfAiIZwMz1x0k9XzkZjaKHQy03ANItSAJfYJmptNAPBPosOuDrVgrROPzAfFeoEPLaZkvKMl0f7GIfRnMNd08NP43IHYFJpV0IOahlYMpzXQGQMoGGrI7oDVZFhCDxBcA8UpgEvmJpJ4dmU93BxMoPUC1mwqopABiUHkcDo3RS0BcBXT4i0HjYLQYqAdiWTSpC0AHpwy6mg7oqAvQigIdqA3m5uUZLGLHB62DgaG8DkhNAeIX0JJkGxC3DqpMN9rjGHUwHQFAgAEANOBn0Z24upUAAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}


.snapBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPhJREFUeNpi/P//P8NgAkwMgwyMOogQYCFG0cPHz0KA1Go0YXN5WalTdA8hqGN6sUitA8qlUdtBjIRyGdBSqmZDYKgyDv9EDfVlFQ7puUAsBlXDC8Rl9MplP7GIbQXidCDmhKYvLaDDuoF0PVVzGQmgA4glgPgSEPND06AnkJoCxHVAzEzvcugmEFvCHAMFHsBQegekHw1EwagOxMeB+COS2A5gKAkBabmBcFAFEL8AYkNoWgIVnjuAdA4x0UULB3kD8TQg/gJ0yCwgfRkYOqVAupEeiVoYhzgod6UBHUK7uozWpfeQL6lf09NBjKNN2FEHDTcHAQQYAILbRBY/ppDfAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.kbmBtn-On-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQVJREFUeNpi/P//P8NgAkwMgwyMOogQYCFX48PHz9iAlD0QKwLxEXlZqWtAsTSo9D4g/w7dQghosS6QOgPEu4B4JtRhINAL5d8GqplDzyhrB2JdJP4vKP0dSSwZ6ChXejnIGIl9GRg9c6HsXDR1uvRykBAS+z4SGz3dsNHLQcgWqQOjhpncEKFFtlcHYljumoAm95deDvpOpLov9CqHQLmKE4kfC4w2EJ9nwApGNGAJxQzDLspo7aDv9HLQIyqro9hBl4kMnWv0ctAspPoLF1gArFLoE2VAi0AhlI4njewG4kpyzGakpE0NLHv4gZQHEPNDqxNQqB2HOpiB7g4abVMPBAAIMADG0koXzO7iNwAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.kbmBtn-Off-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX1JREFUeNpi/P//P8NgAkwMgwyMOogQYCFX48PHz9iAlD0QKwLxEXlZqWtAsTSo9D4g/w7dQghosS6QOgPEu4B4JtRhINAL5d8GqpmDpN4DiEFiZrSKsnYg1kXi/4LS35HEkoEOCABikAO3A7EKEC+ChizVHWSMxL4MjJ65UHYumroFQJyGxJdA8wjVHCSExL6PxEZPN/xI7PVArAF0/FlaOAg52NWB0cAMZcdgUfsaiKOBDgkC4heEDGYkp6QGOgBdUzE0GqPQxK8AsRPQIa9pne1BiZcTiV8PxHxY1E0jxTGURNkvND7fQJfUrESq+0vTkhqYdkRB0QDEXERq+UKzEAI6JhxIXQXiEBLTGnVDCBoqoNI2kIyofUSLEIpFc8xTIN5EZOhco4WDJgLxKSgbVEVoA3ENlpyGDhYAszzJUUZUwQiMNnVQMwNowQ4ksQRoAufEomU3EIcC1X+kiYPwOBRUV3lA6yw2aKgdBzrkMrlmMo428oeagwACDACJJnxYfGtavQAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.zoomBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWhJREFUeNpi/P//P8NgAkwMgwyMOogQYCFVw8PHz9iAVBoQhwCxJVT4OBCvAeJZ8rJSvyhxECMpiRroGGkgtQWIDYD4GhAfgUrZALEWEF8AYh+go57SPMqgIbMdiFWAOBpoqTaQrgRhKDsaKrcdqpbmaQgUTbpAHAp0wDKo2CIoZoCKhULVpNHDQeGgtAK0eAeSGD8UM0AdtQOansLpkajNgHgKMDqEgPRSIBYFYnVodJ4BUq+BOA7qoBx6ZntmKMYmDgNf6BFCZ0HZHBgtoJBwg4bMYWhU2SIlfktoDqR5CK0EOQhooQeS2EcohjnGA1o2LaaHg6YD8WUgXgG0OAoqFgfFDFCxpVBxS3oWjNuhWfsyWsGoi6Z8ATAqE2nqIKQCMhOIA4HYHpqAL0Cj1BiIEyhxFCO120NAB8+nxFFUr+2hli9AEkoAOnLCgDY/sDgqecDbQ1BHTYFypwxYGhptwo44BwEEGAAgunm/ExI77gAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

/* This is for the 1to1 button */
.resnativeBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAYAAAC8/X7cAAAAB3RJTUUH3gcSFC8XJjAi/QAAAAlwSFlzAAAewgAAHsIBbtB1PgAAAARnQU1BAACxjwv8YQUAAADTSURBVHjaY2AYBaNgZAPGRevXD7QbKAJMA+2AweCBFUD8H4jbSdSnC9X3fyA9kAzEgWTokwPiaRTaDQYsZOrbC8SWQMxJor5YIG4EYkVqOB4EyI0BJyIcXwHEZ6BYBSqmRU3HgwC5MWCCxD4AxDxY1ICSiTGUDfPsFCBeA2UnAHHOQHngLBL7Lwn6nkIxCLhS6ngQoGUxmgXEjFB8mVaWjNYDAw3IzQPEgCggtoeymxgQaZ+qgJYxYAPEaVAsRCtLhnwSGm2NDjQY9cBAg1EPDDQAABfTGlCmJ8eeAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 44px;
  height: 24px;
  display: block;
}

.resfitBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAYAAAC8/X7cAAAAB3RJTUUH3gcSFDI5BYpDLgAAAAlwSFlzAAAewgAAHsIBbtB1PgAAAARnQU1BAACxjwv8YQUAAAHWSURBVHja7ZexSwMxFIev2kUsCroI/gEOOhZUcBBRENThRHAROyjiZgsOih2KLhUcHBx0rDgoiO3q4KaDoLuTm6DgIggqWOoXmsIZSmtyuZ5DH/x4aXIJ30vy8qjjNM2f5S7yfWjHdH5LyPBTuDuUpr1mskYkRPgtXAZFZdc3Gk3Mujc660R1PrYE3o47RAvK0KlTPg0ta+gJAN+LK6C4p1vsfJqd3zVZ03cAx/m82Ll5lF103c0a8IMSvucXAATMM+bwlcTAL+Hcet8Bn8BdK/AfEQvnb5QDgF/hhlFbHfBW3B5KqmPA15wbaADY2B+CzJRKTopmRxV4a2Z6heIevauDojgBn1TgP1EK+Mq8AxsBGJ0ASXdfabPTRQVeFCeR2DFP9yua5qW59cybsBGA1Uosi1NBgRdv+4AX3qZZK2RcmRlcv9J9gpaB/woC3lYALcA7Cryv4tSwAERxAj6mdIukniNZu7nnR7Jvm7x5CiIA4xzwFCfvo/iA4uz8JX4ErUh1BQEvTPsEahSnRzQE/FtQsNVMq6QA34k7R+PKkAhoA/iizno2TPcEJhV4UZxWAc81GrxiWjkA6BluX/58dsp/QEKDF2byCq1LnwX+JUz4pv0H+wG6qYXj+nv4WAAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 44px;
  height: 24px;
  display: block;
}

.fullscreenOnBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUlJREFUeNpi/P//P8NgAkwMgwyMOogQYCFW4cPHz9AT23cgdpCXlTqFps4MSB0AYk5kcaA6RlqHUBC6Y6AWg8SCBiLKMoGhwYYlJEFiBgPhID8gXgp0ADOSY0DsPCBup4eDvgCxDxBXI4mFAPF8kEOgjskG4m4k+Vqoni9E2wIqGInBDx49NYPSbEBcAsT/QRiLuv9QDFLDhqyXGEy0g9AsZQbiAjzyBSA15JhNloNgjiJHjhBmHBZ1GTQRF+CRL0DOfTRxELQEhpUzhUDcj6X0hpXo/SA1sHIKSBsTaw/RUQY09DOQCoUWesjlDMhxk6HsXKhjYKASiM8C8TpgCc5LbQdhU1gOxL1Ay/4iFYyFaGUR3eoyUAE5AeYYqKUg9iS0wpNuVcdFoAN+YQkJkNjFgXDQUlhCx5L4l5JrKONom3rUQRQCgAADAPO6uq0pPz1PAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.fullscreenOffBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVZJREFUeNpi/P//P8NgAkwMgwwMbQc9fPysAIiZiVTLDFJPMwcBDQcltn4gLgSy2aBiZmhqzKA0SL4QpB6kj1hPgAALkY5ZhMTtBmI2oNhFIL0CiHmR5PYCxSOAtCEQNyOJZwPxJKo5CAgSgZgTiEOg/FYc6niAeAuaWCkQT6VqlMnLSv0FUtFAvInEJFEJChmofuqmIaChv4DUdHyJGIvwBag+miRqUIJdRyAU0cE69IRPCDCOltS0chC+soWUcofsKIOmhV1AzI+WdhjRCk9k8BGI3YBqTtEil52CZn1SQDQpjiE1l4GqA30So0kfVs1Q1UFQywrwlNC4sj1IfR4paYrYEMoF4k60EtgTiL+gqQPx3aDyyHVfPrWrjglodVMfUGwHkHZGU+oAFN8Nkoeqg+nvIzrOQLmMWPzg0dMCIGYmUi0zSD0p5oPwaEk96iBKAUCAAQCx5e14x+q3pAAAAABJRU5ErkJggg==);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.muteBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX5JREFUeNpi/P//P8NgAkwMgwyMOmjAHPTw8TNRIN4CxPx0dRDQQk4glsAilQnE3kC8iG4OAjrEEkidB2JjLNLdQHwNiP2A6kJo6iBoqPQCmceAWB1JnAeItwOxorys1HegUApUqgUoxkwTBwENtoGGShEW6TQg9gDi+SAO0FHHgdRxqKM9qOYgoCMOAPEZEAZyDyOHChqYAsR3gNgeqNYeKrYYSntTM4QMoOnEGJ8iYIj8gjqKASlEjkNpm4HK9jAHwELxKZQWHSgHfUfjM9O1HMIRvQzQLA8CclD6NTGaWYi05AIQ80DZxngSPzNS7luDpv441RwETKwOSJaCLJiDFBLopTNIfDdQzwWkogAEdtAkyoAWnQVSJkBcAMRf0KQXQC1OhzreA+pAUMLeRIz5jJQ00IAWSgOpCSCHAB26FU2OB1qAqgBxFlB+OjXTEK7QAvk8FGg5GxbpfKhj9gHxLGLNZKRVExba7FgKqs+ADn8x4A4abTGOGAcBBBgA2vGGQYOchxsAAAAASUVORK5CYII=);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.unmuteBtn-enabled {
  float: left;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYCAYAAACSuF9OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAStJREFUeNpi/P//P8NgAkwMgwyMOmjkOejh42ecQCwxKBwEdIglkDoPxMbUchALuaECpFqAuIjaUcZChmNsgNQcIFbHIR8FpFyBOEVeVuovLjGKHAQ08ACQ4oFyjfGoUwRS84GYDYiZgfxEIB0OxItAfCA+BcTTqZGGDKAOwZtWgL6/DwoFIAaFQiwQH0ByzDIgnkX3bA901GIglQh1lA2SY+IIRRcty6G/BPj0cxA0AcOi6ThS9M0HyjFTy0EXgPgsFDMQkahh0WSLFH0gR6VRJdsD494ByVJjaLY3wJaogfIp0CyeCE0zi4FiDFAxgomakZz2EDToc6CFI6g48AFavnXAqg6Qz4F4IpCpAcRrqJkGGanRYgSGGBvQgb8GjYNG20OjDhpMACDAALpQbRSz+zxXAAAAAElFTkSuQmCC);
  cursor: pointer;
  border: none;
  width: 36px;
  height: 24px;
  display: block;
}

.pinBtn-enabled {
  float: right;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNpi/P//PwM1ABMDlQDVDGLBJjhr7nwOqNzXtOTE/5S4iB+IPwOxDbEuYkQPbKBr2IGUFhCfA+JTQFwDxMeBLvuCpk4QSL0DijNiNQiqKAVIzQbiP0C8F4i3APFjqEtZgdgUiF2AWBlmEAuSZjYgxQXE/6CGwOTdoRh/YAMNEAPSXkCcDsQW5MYa3GtQF8kAsT4Qr0NT9xfqTXZ0AwiFURSQWgrlngXiVUB8DYhfAvEHIAYF9FQgNiFkkBKQugvEu4C4GIivoqcnaJCADGYGyv3DFv2c0LDaB/XqM2ISJS4XgZzLCLKJ7AQ5fHI/1QwCCDAAm0pgK4+fj48AAAAASUVORK5CYII=);
  background-position:center;
  background-repeat:no-repeat;
  cursor: pointer;
  border: none;
  width: 18px;
  height: 24px;
  display: block;
  margin-right: 5px;
}

.unpinBtn-enabled {
  float: right;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOpJREFUeNpi/P//PwM1ABOpGmbNnY9VDwseDficykiKi4SA+C6a2BkgFifJa2nJie+B1B404Wyg+Ctywug0Gv89uYH9G40vQK5BH5HYP3GFD16DgLHGA6Rk0WJYCyjOSKqLLIHYB4nPDMRhQKyNzTAWLC4BKbIB4hYgNkKTNgbiXiBOAuKnhFzEDcSHgNgMR4J1A+In6Ckcm0F/gFgC6ppUNLloIFYGYicgRk35oEyLDc+cM48dSvMB8X8gDkSS40RXjy9l/0Rz9UUkue/k5P5vQHwCFC54VeHyGpo3EwipIbY82kZIAUCAAQBOGZW3c40BQQAAAABJRU5ErkJggg==);
  background-position:center;
  background-repeat:no-repeat;
  cursor: pointer;
  border: none;
  width: 18px;
  height: 24px;
  display: block;
  margin-right: 5px;
}

