<Device title="" type="" state="" password="" ownerUserJID=""><Groups/>
	<DevicePrivateData/><TemplateNID/><PortList/>
	<DeviceConfig/>
	<DeviceStatus>
	<ServiceElementsStatus>
	<XMPPAgentServiceStatus>
	<Parameters/>
	</XMPPAgentServiceStatus>
	</ServiceElementsStatus>
	<NetworkElementsStatus>
	<EthernetPortTableStatus>
	<EthernetPortStatus>
	<ParametersList/>
	</EthernetPortStatus>
	</EthernetPortTableStatus>
	</NetworkElementsStatus>
	</DeviceStatus>
	<DeviceList/>
</Device>
