/* Elements */

hr {
	border-top: solid 1px #23417d;
	border-bottom:solid 1px #ACBFDF;
}

.body {
	margin-top: 10;
	padding: 0;
	text-align: center;
	background-image:  url(images/bg.jpg);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #013696;
}

.subs, .page-flag {
display: none;
}

.link, .link-over {
padding-left: 2px;
cursor: pointer;
}
.thumb {
	padding-top: 2px;
	padding-left: 2px;
	text-align: left;
	height: 104px;
	width: 104px;
	background-image:  url(images/thumbBG.gif);
	background-position: top left;
	background-repeat: no-repeat;
}
.homelink A {width:258px;height:22px;padding-left: 5px; padding-top: 3px}
.homelink A:link {text-decoration: none; color: #fff; font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.homelink A:visited {text-decoration: none; color: #fff; font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.homelink A:active {text-decoration: none; color: #fff; font: bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;}
.homelink A:hover {
	text-decoration: none; 
	color: #fff; 
	background-image:  url(images/homelinkBG.gif);
	background-position: left;
	background-repeat: no-repeat;}

#header td{
	height: 45px;
	background-image:  url(images/headerBG.gif);
	background-color: #174E9E;
	padding: 4px;
	padding-left: 8px;
	background-repeat: repeat-x;
	background-position: left top;
	color: #fff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 105%;
	}
#header A:link, A:visited, A:active {
	color: #fff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 105%;
	text-decoration: none;
}

#headerNav A, A:link, A:visited, A:active {
	color: #fff;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
}
#headerNav A:hover {
	text-decoration: underline;
}
.footer {
	height: 20px;
	background-color: #4A71A9;
	color: #ADBDDA;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 10px;
}
}
table#info {
	background-color: #7896C7;
	border: solid 1px #7592BB;
	width: 800px;
	height: 150px;
	color: #000;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
}
#info td.image {
	width: 160px;
	height: 150px;
	border-right: solid 1px #345381;
	text-align: center;
}
#info td.title {
	height: 33px;
	padding-left: 4px;
	color: #000033;
	background-image:  url(images/titleHeader.gif);
	background-position: top;
	background-repeat: repeat-x;
	font-size: 14px;
	font-weight: bold;
}
#info td.desc {
	width: 640px;
	height: 200px;
	padding-left: 6px;
	background-color: #AFC2E1;
	background-image:  url(images/panel2GradientBG.jpg);
	background-position: top;
	background-repeat: repeat-x;
	color: #273446;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
#info td.controls {
	width: 640px;
	height: 30px;
	padding-left: 6px;
	color: #273446;
	background-color: #AFC2E1;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
table#epg {
	width: 800px;
	border: solid 1px #7592BB;
}
#epg td {
	width: 220px;
	height: 22px;
	background-color: #BDCBE0;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 12px;
}
#epg td.titleRow {
	width: 800px;
	height: 25px;
	background-image:  url(images/programListHeader.gif);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #4A71A9;
	color: #fff;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 14px;
}
#epg td.over {
	background-color: #BEDAFD;
	border-bottom: solid 1px black;
	color: #000;
	padding-top: 3px;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
#epg td.out {
	background-color: #074B96;
	color: #97E8FB;
}
#epg td.live {
	background-color: #3575BD;
}

#epg td.stream {
	background-color: #ccff99;
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#epg td.channel {
	width: 190px;
	height: 30px;
	background-color: #011f52;
	color: #66CCFF;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#epg td.channelDown {
	width: 190px;
	height: 30px;
	background-color: #011f52;
	background-image:  url(images/btnChannelDown.gif);
	background-position: left bottom;
	background-repeat: no-repeat;
	color: #66CCFF;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}

#epg td.channelUp {
	width: 190px;
	height: 30px;
	background-color: #011f52;
	background-image:  url(images/btnChannelUp.gif);
	background-position: left top;
	background-repeat: no-repeat;
	color: #66CCFF;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}
#epg td.channelUpX {
	background-image:  url(images/btnChannelUpX.gif);
	background-position: left top;
	background-repeat: no-repeat;
	width: 190px;
	height: 30px;
	background-color: #011f52;
	color: #66CCFF;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
}

#epg td.channelUpX a{
 border-collapse: collapse;
   display: block;
	height: 25px;
   text-decoration: none;
}

#epg td.currentTime {
	width: 190px;
	height: 20px;
	background-color: #99CCFF;
	color: #000033;
	text-align: center;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
}
#epg td.time {
	width: 200px;
	height: 20px;
	background-color: #99CCFF;
	color: #000033;
	text-align: center;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
}
#epg td.timeLeft {
	width: 200px;
	height: 20px;
	background-color: #99CCFF;
	color: #000033;
	text-align: center;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	background-image:  url(images/btnTimeLeft.gif);
	background-position: left;
	background-repeat: no-repeat;
}
#epg td.timeRight {
	width: 200px;
	height: 20px;
	background-color: #99CCFF;
	color: #000033;
	text-align: center;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
	background-image:  url(images/btnTimeRight.gif);
	background-position: right;
	background-repeat: no-repeat;
}

table#nowPlaying {
	width: 800px;
	border: solid 1px #7592BB;
}
#nowPlaying td.titleRow {
	height: 25px;
	background-image:  url(images/programListHeader.gif);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #4A71A9;
	color: #fff;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 14px;
}
#nowPlaying td.footer {
	height: 20px;
	background-color: #4A71A9;
	color: #ADBDDA;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 10px;
}
#nowPlaying td.program {
	height: 22px;
	padding-left: 0px;
	background-color: #BDCBE0;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 12px;
	cursor: hand;
}
#nowPlaying td.streamList {
	background-color: #BDCBE0;
	border-top: solid 1px #7C91B0;
	color: #000033;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
#nowPlaying td.stream {
	height: 22px;
	background-color: #D7DFEC;
	color: #000033;
	padding-left: 10px;
	padding-top: 1px;
	border-bottom: solid 1px #FFF;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 80%;
	cursor: hand;
}
#nowPlaying td.streamOver {
	height: 22px;
	background-color: #EAFFCE;
	border-bottom: solid 1px #FFF;
	color: #000;
	padding-left: 10px;
	padding-top: 1px;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 80%;
	cursor: hand;
}	

#nowPlaying td.pageBack {
   padding-left: 25px;
	height: 20px;
	background-color: #174E9E;
	color: #ccff66;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	background-image:  url(images/pageBack.gif);
	background-position: left;
	background-repeat: no-repeat;
}
#nowPlaying a {
   color: #ccff66;
	text-decoration: none;
}

table#onDemand {
	width: 800px;
	border: solid 1px #7592BB;
}
#onDemand td.titleRow {
	width: 800px;
	height: 25px;
	background-image:  url(images/programListHeader.gif);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #4A71A9;
	color: #fff;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 14px;
}
#onDemand td.footer {
	width: 800px;
	height: 20px;
	background-color: #4A71A9;
	color: #ADBDDA;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 10px;
}
#onDemand td.program {
	width: 396px;
	height: 22px;
	padding-left: 4px;
	background-color: #BDCBE0;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 12px;
}
#onDemand td.streamList {
	width: 396px;
	background-color: #BDCBE0;
	border-top: solid 1px #000033;
	color: #000033;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
#onDemand td.stream {
	height: 22px;
	width: 396px;
	background-color: #D7DFEC;
	color: #000033;
	padding-left: 16px;
	padding-top: 3px;
	border-bottom: solid 1px black;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
#onDemand td.streamOver {
	height: 22px;
	width: 396px;
	background-color: #BEDAFD;
	border-bottom: solid 1px black;
	color: #000;
	padding-left: 16px;
	padding-top: 3px;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}	


table#sideNav {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
	color: #ffffff;
	border: solid 1px #000033;
}
#sideNav td.title {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #ffffff;
	font-weight: bold;
	background-color: #174E9E;
	border-top: solid 1px #fff;
	border-bottom: solid 1px gray;
}
#sideNav td.item {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000;
	font-weight: normal;
	background-color: #E3E9EE;
	border-top: solid 1px #fff;
	border-bottom: solid 1px gray;
}
/* Forms */
input.label {
	border: none;
	background: transparent;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ebeff5;
}
/*  Buttons */
.btnBasic {
	margin: auto;
	padding: auto;
	text-align: center;
	background-image:  url(ximages/btnBasicBG.gif);
	height: 18px;
	background-position: center left;
	background-repeat: repeat-x;
	background-color: #617294;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #ebeff5;
	border: solid 1px #769ED7;
}
.btnBasicOver {
	margin: auto;
	padding: auto;
	text-align: center;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #036;
	background-color: #A5D0FC;
	height: 18px;
	border: 1px solid #003366;
}
.btnSmall {
	margin: auto;
	padding: auto;
	text-align: center;
	height: 18px;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.btnGreen {
	padding-left: 2px;
	padding-right: 2px;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000033;
	background-image:  url(images/btnGreenBG.jpg);
	text-align: center;
	height: 24px;
	border: solid 1px #ccc;
	background-position: center;
	background-repeat: repeat-x;
}
.btnGrayBlue {
	padding-left: 2px;
	padding-right: 2px;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000033;
	background-image:  url(images/btnGrayBlueBG.jpg);
	text-align: center;
	height: 18px;
	border: solid 1px #ccc;
	background-position: center;
	background-repeat: repeat-x;
}
.btnRed {
	margin: auto;
	padding: auto;
	font: normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #B22222;
	background-image:  url(images/btnRedBG.jpg);
	text-align: center;
	height: 24px;
	border: solid 1px gray;
	background-position: top;
	background-repeat: repeat-x;
}
.btnYellow {
	margin: auto;
	padding: auto;
	font: normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #B22222;
	background-image:  url(images/btnYellowBG.jpg);
	text-align: center;
	height: 24px;
	border: solid 1px white;
	background-position: top;
	background-repeat: repeat-x;
}

/* Cell / Panel  Styles  */
.panel1 {
	background: #EBEFF5;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 0px;
	border: solid 0px #496aa1;
}
.panel1Gradient {
	padding: 6px;
	background-color: #7896C7;
	background-image:  url(images/panel1GradientBG.jpg);
	background-position: top;
	background-repeat: repeat-x;
	color: #fff;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
.panel2 {
	background: #BDCBE0;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
	border: solid 0px #496aa1;
}
.panel3 {
	background: #C8DDF7;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
	border: solid 0px #496aa1;
}
.panel4 {
	background: #7D98C4;
	color: #fff;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 4px;
	border: solid 2px #23417d;
}
.panel2Gradient {
	padding: 6px;
	background-color: #AFC2E1;
	background-image:  url(images/panel2GradientBG.jpg);
	background-position: top;
	background-repeat: repeat-x;
	color: #273446;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
.authDVDBG {
	padding: 6px;
	background-color: #7896C7;
	background-image: url(images/authDVDBg.gif);
	background-position: right top;
	background-repeat: repeat-x;
	color: #fff;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
.cellV2D {
	background: #EBEFF5;
	color: #000033;
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
}
.cellMPEG {
	background: #A6D0C6;
	color: #000033;
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
}
.cellDMS {
	background: #EBEFF5;
	color: #000033;
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
}
.cellRTP {
	background: #EBEFF5;
	color: #000033;
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
}
.cell1 {
	background: #EBEFF5;
	color: #000033;
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
}
.cell1a {
	padding-left: 6px;
	background-color: #AFC2E1;
	color: #273446;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
}
.cell2 {
	background-color: #BDCBE0;
	color: #000033;
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
}
.cell3 {
	background-color: #4765a2;
	color: #fff;
	font: 11px normal Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 2px;
}
.cell4 {
	background-color: #7D98C4;
	color: #f5f5f5;
	font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
	padding: 2px;
}

.Cell5 {
	padding: 2px;
	background-color: #EEFFBB;
	color: #000099;
	font-weight: normal;
	font-size: 11px;
}

.ellipsis100 {
	width:100px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ellipsis125 {
	width:125px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ellipsis150 {
	width:150px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ellipsis175 {
	width:175px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ellipsis200 {
	width:200px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ellipsis300 {
	width:300px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.ellipsis400 {
	width:400px;
	overflow:hidden;
	text-overflow:ellipsis;
}
/* Text Styles */
.T1 {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}
.T1b {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.T1mid {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ACBFDF;
	font-weight: normal;
}
.T1bmid {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ACBFDF;
	font-weight: bold;
}
.T2 {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000033;
	font-weight: normal;
}
.T2b {
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000033;
	font-weight: bold;
}
.T3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000033;
}
.T3b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000033;
	font-weight: bold;
}
.T4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000033;
}
.T4b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000033;
	font-weight: bold;
}
.T4i {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000033;
	font-weight: normal;
	font-style: italic;
}
.T4White {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
}
.T4bWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
}
.T4iWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	font-style: italic;
}
.T5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000033;
	font-weight: normal;
}
.T5White {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
	font-weight: normal;
}
/* Table Styles */
.TB1 {

}
.TB2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000033;
	font-weight: bold;
	border: solid 1px #617294;
	margin: 4px;
}

.TB3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000033;
	font-weight: bold;
	border: solid 1px #617294;
	margin: 4px;
}
table#TBL2 {
	border: solid 2px #496aa1;
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	}
#TBL2 th {
	height: 24px;
	color: #000033;
	border-right: solid 1px #3d4f72;
	text-align: center;
	font-family: Geneva, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image:    url(images/col2.jpg);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #9AB1D7;
	}
#TBL2 td {
	height: 20px;
	border-bottom: solid 1px #000033;
	border-right: solid 1px #000033;
	background-color: #BDCBE0;
	color: #000033;
	text-decoration: none;
	padding: 2px;
	}
	
table#TBL3 {
	border: solid 2px #496aa1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
#TBL3 TH {
	height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #fff;
	background-color: #496aa1;
	padding-bottom: 3px;
	padding-left: 4px;
	}
#TBL3 TD {
	color: #000033;
	background-color: #AABDDC;
	}
/* Header Styles */
.H1 {
	filter: alpha(opacity=85);
	height: 45px;
	background-image:  url(images/H1.jpg);
	padding-top: 0px;
	background-repeat: repeat-x;
	background-position: left top;
	color: #fff;
	font-size: 16px;
	font-family: Verdana;
}
.H2 {
	height: 33px;
	background-image:   url(images/H2.jpg);
	padding: 3px;
	background-repeat: repeat-x;
	background-position: left top;
	color: #fff;
	font-size: 16px;	
	font-family: Verdana;	
}
.H3 {
	height: 33px;
	background-image:    url(images/H3.jpg);
	padding-top: 4px;
	padding-left: 10px;
	background-repeat: repeat-x;
	background-position: left top;
	border-right: solid 0px #23417D;
	color: #000033;
	font-size: 16px;	
	font-family: Verdana;
}
.H4 {
	height: 24px;
	padding-top: 3px;
	padding-left: 6px;
	background-image:    url(images/H4.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	color: #fff;
	font-size: 12px;
	font-family: Verdana;
}
.H5 {
	height: 22px;
	padding-top: 3px;
	padding-left: 6px;
	background-image:    url(images/H3.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	border-right: solid 1px #597BAE;
	border-top: solid 1px #345381;
	color: #000033;
	font-size: 12px;
	font-family: Verdana;
}
.H6 {
	height: 25px;
	background-image:  url(images/programListHeader.gif);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #4A71A9;
	color: #fff;
	text-align: center;
	font-family: Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 14px;
}
/* Column header styles */
.Col1 {
	height: 33px;
	padding-left: 4px;
	color: #000033;
	border-top: solid 1px #345381;;
	background-image:    url(images/col1.jpg);
	background-position: top;
	background-repeat: repeat-x;
	font-size: 14px;
	font-weight: bold;
}
.Col2 {
	height: 24px;
	padding-top: 3px;
	color: #000033;
	border-right: solid 1px #3d4f72;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-image:    url(images/col2.jpg);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #9AB1D7;
}
.Col3 {
	height: 20px;
	color: #000033;
	border-right: solid 1px #3d4f72;
	border-bottom: solid 1px #345381;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	background-image:    url(images/col3.jpg);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #9AB1D7;
}
.Col4 {
	height: 24px;
	padding-top: 3px;
	text-align: center;
	background-image:    url(images/H4.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	border-right: solid 1px #23417D;
	color: #fff;
	font-size: 11px;
	font-family: Geneva, Verdana, Arial, sans-serif;
}
.Col5 {
	height: 18px;
	padding-bottom: 2px;
	text-align: center;
	background-image:    url(images/col5.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	border-right: solid 1px #3A5984;
	color: #000033;
	font-size: 10px;
	font-family: Geneva, Verdana, Arial, sans-serif;
}
.Col6 {
	height: 33px;
	padding: 2px;
	text-align: left;
	background-image:    url(images/col6.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #6888B5;
	border-right: solid 1px #456BA5;
	border-top: solid 1px #A2BBDA;
	color: #000033;
	font-size: 11px;
	font-family: Geneva, Verdana, Arial, sans-serif;
}
.Col7 {
	height: 33px;
	padding: 2px;
	text-align: left;
	background-image:    url(images/col7.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #6888B5;
	border-right: solid 1px #456BA5;
	border-top: solid 1px #A2BBDA;
	color: #000033;
	font-size: 11px;
	font-family: Geneva, Verdana, Arial, sans-serif;
}
/* table cell styles */
.TD1 {
	height: 20px;
	background: #EBEFF5;
	border-bottom: solid 1px silver;
	border-right: solid 1px silver;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	padding-left: 4px;
}
.TD2 {
	height: 20px;
	border-bottom: solid 1px #000033;
	border-right: solid 1px #000033;
	background-color: #BDCBE0;
	color: #000033;
	font-family:  Geneva, Arial, Helvetica, sans-serif, Verdana;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
}
.TD3 {
	height: 20px;
	background: #EBEFF5;
	border-bottom: solid 1px #000033;
	border-right: solid 1px #000033;
	color: #000033;
	font-weight: normal;
	text-decoration: none;
}
.TD4 {
	height: 20px;
	background: #AFC2E1;
	border-bottom: solid 1px #000033;
	border-right: solid 1px #000033;
	color: #000033;
	font-weight: normal;
	text-decoration: none;
}
.TD5 {
	height: 20px;
	padding: 2px;
	background-color: #F4FEDE;
	border-bottom: solid 1px #617294;
	border-right: solid 1px #617294;
	color: #000033;
	font-weight: bold;
	text-decoration: none;
}
.row1 {
	height: 22px;
	background-color: #BDCBE0;
	color: #000033;
	padding-left: 6px;
	padding-top: 2px;
	border-bottom: solid 1px #23417d;
	text-decoration: none;
	font: normal 12px Geneva, Arial, Helvetica, sans-serif, Verdana;
}
.row2 {
	height: 20px;
	background-color: #D7DFEC;
	color: #000033;
	padding-left: 10px;
	padding-top: 2px;
	border-bottom: solid 1px #23417d;
	text-decoration: none;
	font: normal 11px Geneva, Arial, Helvetica, sans-serif, Verdana;
}
.row2Over {
	height: 20px;
	background-color: #C8DDF7;
	color: #000033;
	padding-left: 10px;
	padding-top: 2px;
	border-bottom: solid 1px #23417d;
	text-decoration: none;
	font: normal 11px Geneva, Arial, Helvetica, sans-serif, Verdana;
}
.row3 {
	height: 18px;
	background-color: #95ABCD;
	color: #000033;
	padding-left: 2px;
	padding-top: 2px;
	text-decoration: none;
	font: normal 10px Geneva, Arial, Helvetica, sans-serif, Verdana;
}
.row4 {
	height: 18px;
	background-color: #B9C8E1;
	color: #000033;
	padding-left: 2px;
	padding-top: 2px;
	text-decoration: none;
	font: normal 10px Geneva, Arial, Helvetica, sans-serif, Verdana;
}
.row5 {
	height: 18px;
	background-color: #E7EDF5;
	color: #000033;
	border-bottom: solid 1px #BDCBE0;
	border-right: solid 1px #BDCBE0;
	padding-left: 2px;
	padding-top: 2px;
	text-decoration: none;
	font: normal 10px Geneva, Arial, Helvetica, sans-serif, Verdana;
}
.row6 {
	height: 18px;
	background-color: #F3F9FA;
	color: #000033;
	border-bottom: solid 1px #BDCBE0;
	border-right: solid 1px #BDCBE0;
	padding-left: 2px;
	padding-top: 2px;
	text-decoration: none;
	font: normal 10px Geneva, Arial, Helvetica, sans-serif, Verdana;
}
.iframePrograms {
	scrollbar-base-color: #B9C8E1;
}


/*  Playlist Styles */
table#playlistGrid {
	width: 800px;
	background-color: #7599CB;
	background-position: top;
	background-repeat: repeat-x;
}
.playlistCell {
	width: 180px;
	height: 60px;
	border-right: solid 1px #3A5984;
	border-bottom: solid 1px #3A5984;
	padding: 8px;
	font: normal 11px Geneva, Arial, Verdana, sans-serif;
	color: #000033;
}
#playlistGrid input {
	height: 18px;
	border: none;
	background: transparent;
	color: #fff;
	font-size: 11px;
	font-family: Geneva, Verdana, Arial, sans-serif;
}
#playlistGrid input.selected {
	background: #3d4f72;
	border: solid 1px bcc9d8;

}
#playlistGrid td.col2 {
	height: 24px;
	padding-top: 3px;
	color: #000033;
	border-right: solid 1px #3d4f72;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-image:    url(images/col2.jpg);
	background-position: top;
	background-repeat: repeat-x;
	background-color: #9AB1D7;
}
#playlistGrid td.col3 {
	height: 20px;
	color: #000033;
	border-right: solid 1px #3d4f72;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	background-image:    url(images/col3.jpg);
	background-position: center;
	background-repeat: repeat-x;
	background-color: #9AB1D7;
}
table#V2DStreamItem {
	width: 175px;
	border: solid 1px #ACBFDF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #C8DDF7;
	background-color: #577DB2;
	background-image:  url(images/panel4GradientBG.jpg);
	background-position: top;
	background-repeat: repeat-x;
}
#V2DStreamItem td {
	width: 175px;
	height: 16px;
	padding: 2px;
	border-right: solid 0px #5479AD;
	border-bottom: solid 0px #5479AD;
	overflow:hidden;
	text-overflow:ellipsis;
}
#V2DStreamItem input {
	background: transparent;
	font: 11px bold Verdana, Arial, Helvetica, sans-serif;
	border: solid 0px #fff;
}
table#MPEGStreamItem {
	width: 175px;
	background-color: #D4EEDC;
	border: solid 2px #6085B9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#MPEGStreamItem td {
	height: 16px;
	padding: 2px;
	border-right: solid 0px #5479AD;
	border-bottom: solid 0px #5479AD;
}
#MPEGStreamItem input {
	background: transparent;
	font: 11px bold Verdana, Arial, Helvetica, sans-serif;
	border: solid 0px #fff;
}

table#RTPStreamItem {
	width: 175px;
	background-color: #CABFD6;
	border: solid 2px #6085B9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#RTPStreamItem td {
	height: 16px;
	padding: 2px;
	border-right: solid 0px #5479AD;
	border-bottom: solid 0px #5479AD;
}
#RTPStreamItem input {
	background: transparent;
	font: 11px bold Verdana, Arial, Helvetica, sans-serif;
	border: solid 0px #fff;
}
table#playlistStreamDetail {
	background-color: #9AB4DA;
	border: solid 1px #A2B9DA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
#playlistStreamDetail TD.v2d {
	height: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	color: #000033;
	padding-bottom: 0px;
	padding-left: 0px;
	}
#playlistStreamDetail TD.mpeg {
	height: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #000033;
	background-color: #CCFFCC;
	padding-bottom: 3px;
	padding-left: 4px;
	}
.playlistTypeV2D {
	position: relative;
	height: 16px;
	width: 50px;
	top: 29px;
	left: 100px;
	border: solid 1px #23417d;
	font: normal 11px Geneva,verdana,arial,sans-serif;
	background-color: #CCF8FF;
	text-align: center;
}
.playlistTypeMPEG {
	position: relative;
	height: 16px;
	width: 50px;
	top: 29px;
	left: 100px;
	border: solid 1px #23417d;
	font: normal 11px Geneva,verdana,arial,sans-serif;
	background-color: #CCFFCC;
	text-align: center;
}


/*  List Styles  */
#listContainer { 
overflow-y: auto;
overflow-x: none;
scrollbar-base-color: #AABEDE;
}

#listContainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: 85% Verdana, Arial, Helvetica, sans-serif;
}

#listContainer a
{
display: block;
padding: 3px;
width: 95%;
background-color: #AABEDE;
border-bottom: 0px solid #eee;
color: #000033;
}

#listContainer a:link
{
color: #000066;
text-decoration: none;
}

#listContainer a:hover
{
background-color: #6C8AC5;
color: #fff;
}
#listItems a.selected {
background-color: #5173B6;
background-image:  url(images/icon16playBK.gif);
background-position: right;
background-repeat: no-repeat;
color: #fff;
}


</style>
