<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="com.barco.nimbus.equinox.local.target" sequenceNumber="62">
<locations>
<location path="${delta_pack_extracted}" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
<location path="${workspace_loc}/com.barco.nimbus.releng/target-platform/net.xqj" type="Directory"/>
<location path="${workspace_loc}/com.barco.nimbus.releng/target-platform/org.ops4j" type="Directory"/>
<location path="${workspace_loc}/com.barco.nimbus.releng/target-platform/org.codehaus.jackson" type="Directory"/>
<location path="${workspace_loc}/com.barco.nimbus.releng/target-platform/org.apache.servicemix" type="Directory"/>
<location path="${workspace_loc}/com.barco.nimbus.releng/target-platform/com.barco.nimbus.whacklibs" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.jaxrs.connector.feature.feature.group" version="3.1.0.201310280854"/>
<repository location="jar:file:/D:/miye/worksvn/com.barco.nimbus.releng/target-platform/io.github.hstdaudacher/com.eclipsesource.jaxrs.repository-1.0.0-SNAPSHOT.zip!/"/>
</location>
</locations>
</target>
