###############################################################################
###                                                                         ###
### Copyright (c) 2003-2014 Barco N.V.                                      ###
###                                                                         ###
###############################################################################
###                                                                         ###
### This file is part of "JBS".                                             ###
###                                                                         ###
### "JBS" is free software; you can redistribute it and/or modify it        ###
### under the terms of the GNU Lesser General Public License as published   ###
### by the Free Software Foundation; either version 2.1 of the License, or  ###
### (at your option) any later version.                                     ###
###                                                                         ###
### "JBS" is distributed in the hope that it will be useful, but            ###
### WITHOUT ANY WARRANTY; without even the implied warranty of              ###
### MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU       ###
### Lesser General Public License for more details.                         ###
###                                                                         ###
### You should have received a copy of the GNU Lesser General Public        ###
### License along with "JBS"; if not, write to the Free Software            ###
### Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  2111-1307 USA ###
###                                                                         ###
###############################################################################

###############################################################################
###                                                                         ###
### This is an auto-generated file.                                         ###
### Please consult the "JBS" docs to understand its content.                ###
###                                                                         ###
###############################################################################

target-type	:=	dll
target-name	:=	BFC_Plugins
target-ver-base	:=	BFC_DL
target-sources	:=	Src/*
target-mocs	:=
target-guis	:=
target-deps	:=	Sys_DL BFC_Light
target-incldirs	:=
target-libdirs	:=
target-docdir	:=	Doc
target-doxydir	:=	Classes
target-doxyimg	:=	Images
target-cluster	:=	BFC

###############################################################################

target-uuid	:=	91989594-a437-4d5c-aba7-ce4589440519

###############################################################################
