#source-list {
  /* width: 200px; */
  /* overflow-y: scroll; */
  /* overflow-x:hidden; */
}
#sessionSourcePanel .source-list-row {
  display:inline-block;
  width:200px;
  height:150px;
  border:none;
  margin:8px;
}
#sessionSourcePanel .source-item-details {
	position: absolute;
	left: 15px;
	top: 95px;
	width:200px;
	height:40px;
}
#sessionSourcePanel .source-item-filetype {
  display:none;
}
#sessionSourcePanel .source-list-row.checked {
	border: solid 0px #0f98e3 !important;
	background-color: rgba(15, 152, 227, 0.20) !important;	
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAVCAYAAABVAo5cAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARRJREFUeNpi5J/xmIES8CFdBqecwMwnCUDKGKgmFybGxEAjALVsDhDnANktNLUQyTJmqFA1UKwUxGChg2Uw0AWUe8dEJ8tgwJ6JjpYtA+JEJjpaFgdMrX/RLTwExO14NJJj2WKYZeiJBmSZLRTrAnEoEH8nYB8xliXCLEPOFjDLYMAbiA8AsQQ1LYNZiG4ZDJgB8WEgVqGWZTALr+PxBciyk1DLKbYMFofpUHYaDgOEoMEbB8Q8lFiGnGgIWcoJxCugbFyWLQDiFHyWoadSQpbiyypEWYat8AZZOovEfE+0ZbhqC1IsJckyfNUTMZaSbBmh+hCfpWDLgPgvicFPsALGZinZlhFbASOnXpBliZTULAABBgAkS2m5kwCISQAAAABJRU5ErkJggg==');
  background-position: center center;
	background-repeat: no-repeat;
}
.source-list-row {
  display: block;
  position: relative;
  height: 110px;
  border-bottom: solid 1px #485157;
  /*vertical-align: middle;*/
}
.source-list-row:hover {
  background-color: #262b2f;
  /* background-color: #3d444a; */
  cursor: pointer;
}

/* Endpoint Controller Source List - Grid Layout */
#divDisplayListPanel .source-list-row {
    display: inline-block;
    position: relative;
    height: 170px;
    width: 200px;
    border-bottom: solid 0px #485157;
    margin: 10px;
}
#divDisplayListPanel .source-list-row:hover {
  background-color: #262b2f;
  /* background-color: #3d444a; */
  cursor: pointer;
}

.source-list-cell {
  /*display: table-cell;
  vertical-align: middle; */
}
.source-list-cell img {
  /*display: inline-block;
  margin: auto auto;
  float: left; */
}
.source-list-cell div {
  /*display: inline-block;
  margin: auto auto;
  float: left; */
}
.source-list-cell p {
  margin: 10px;
  font-size: 20px;
}

.source-list-cell a {
  /*font-size: 12px; */
}


/*---------------------------------------
Source Panel -modified from barco-nd-desktop-ui.css (Sencha)
---------------------------------------*/
.source-list  {
  display: block;
  overflow-y: hidden;
}
.source-panel-container {
  background: #373c41;
  /* border: 1px solid #373d42; */
  border: solid 1px #414549;
  /* -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.35); */
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.45);
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.45);
}
.source-list-toolbar {
  display:block;
  width:100%;
  z-index:999;
  min-height:40px;
  padding: 0px 15px 0px 15px;
  line-height: 40px;
  background: #262b2f;
  border-bottom: solid 1px #444;
  color: #999;
  font-size: 16px;
}
.source-list-toolbar.open{
  position:absolute;
  top:37px;
  bottom:0px;
  width: 100%;
  z-index:999;
  overflow-y: auto;
}

.source-list-toolbar  h1{
  line-height: 40px;
  font-size:20px;
  color: #e4e4e4;
  margin: 0;
}
.source-list-toolbar > input{
  line-height: 40px;
}
.source-list-toolbar a {
	color: #73797c !important;
  font-size: 18px;
}
.source-list-toolbar a:hover {
	color: #a7acb1 !important;
}

.selected {
	/* background: #73797c; */
	background: #484e51;
}
.source-group-list.selected {
	/* background: #73797c; */
	background: #9fb5c3;
}
.connected {
	color: #fff;
	background: #444b51;
	border: solid 3px #fff;
}

.live-item-thumb {
  position: absolute;
  left: 15px;
  top: 10px;
  border: solid 0px #444d53;
  background: #262B2F;
  background-image: url("");
  background-position: center center;
  background-repeat: no-repeat;
  width: 150px;
  height: 84px;
  cursor: pointer;
}

.rec-item-thumb {
  position: absolute;
  left: 15px;
  top: 10px;
  border: solid 0px #444d53;
  background: #262B2F;
  background-image: url("");
  background-position: center center;
  background-repeat: no-repeat;
  width: 150px;
  height: 84px;
}
.source-item-details {
	position: absolute;
	left: 180px;
	top: 0px;
	width:200px;
	max-height:90px;
	padding-top: 10px;
}
#divDisplayListPanel .source-item-details {
  position: absolute;
  left: 15px;
  top: 94px;
  width:200px;
  max-height:90px;
  padding-top: 10px;  
}
.source-item-title {
	display: block;
	width: 200px;
	min-height: 20px;
	line-height:1.2em;
	max-height: 3.6em;
	overflow:hidden;
	margin-bottom: 8px;
	font-family: "Dax", Verdana, Arial, Helvetica, sans-serif;
	color: #e4e4e4;
	font-size: 16px;
	text-align: left;
}
.source-item-title-editBtn {
	position: absolute;
	top: 8px;
	left: 180px;
	height: 24px;
	width: 24px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOZJREFUeNpi/P//PwMtARMDjcGoBQNvAQuxCqdOnykKpLYD8ZrszPQOqvoAaDgbkNIHYmMgbgfyi6hmAdAwaSB1FYjfA3EIVDiZKkEENFwOSB0AYkUgPgPElkDsDMQ3ibWAEVdORjMcBp4CsSEwDl5TFERAw0GGHsZiuDMphmMNIqjhIJfLIQk/AmIHoOH3KUqmSC6XRhK+DzX8ETUy2jcg7kHigyLTllzDUSwAut4S6toTQJwBxNegLn9KrZz8C4h/A/FxIJYA4nWkRighC0BBYwNKOUCDX1KrLGIcrdFGLaAYAAQYAEKISSFHxzmJAAAAAElFTkSuQmCC);
}
.source-item-title-edit {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgba(47,52,56,0.2);
	background: #2f3438;
	padding: 8px;
	margin-top: 8px;
}

.source-item-record {
	padding: 2px 4px;
	border: none;
	outline: none;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	border-radius: 2px;
	min-width:20px;
	color: #555;
	background: #e8e8e8;
	border: solid 1px #777;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	text-decoration:none;
}
.source-item-record-disable {
	display:none;
}

.source-item-record-off {

}
.source-item-record-off:hover {
	border: solid 1px #ed1c24;
}

.source-item-record-on {
  color: #fff;
  background: #ff3333;
  border-color: #ffcccc;
}
.source-item-playlength {
  z-index: 99;
  position: absolute;
  bottom: 0px;      
  right: 0px;
  width:auto;
  height: 15px;
  padding: 2px 4px 1px 4px;
  background: #000;
  white-space: nowrap;
  overflow: hidden;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 10px;
  text-align: center;
}
.source-item-date {
  /*position: absolute;
  left: 200px;      
  top: 70px;*/
  display:block;
  width:200px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #676d73;
  font-size: 11px;
  text-align: left;
}

.source-item-filetype {
  /*position: absolute;
  left: 200px;*/      
  display:block;
  width:45px;
  height: 15px;
  margin-bottom: 12px;
  padding-top: 1px;
  /* background: #383d42; */
  background: #485157;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #949494;
  font-size: 11px;
  text-align: center;
}

.source-item-size {
  /*position: absolute;
  left: 260px;      
  bottom: 10px;*/
  display:inline-block;
  width:100px;
  padding-top: 1px;
  margin-left: 8px;
  border-radius: 2px;
  white-space: nowrap;
  overflow: hidden;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #949494;
  font-size: 12px;
  text-align: left;
}

.source-item-status {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 6px;
  width: 236px;
}

