
.source-panel-container {
	background: #e1e1e1;
}


.source-item-container {
	position: relative;
	width: 300px;
	height: 170px;
	display: block;
	overflow:hidden;
}


.source-item-title {
	position:absolute;
	z-index:99;
	display:block;
	left: 0px;      
	top: 0px;
	width: 300px;
	height: 35px;
	padding: 12px 0 0 12px;
	background-color:rgba(0, 0, 0, 0.8);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	text-align: left;
}

.rec-item-thumb {
	position: absolute;
	left: 0px;
	top: 0px;
	width:300px;
	height:170px;
}


.source-container {
	display:block;
    width: 300px;
    height: 170px;
    overflow: hidden;
}

.source-item-controls {
	display:none;
    width: 100%;
    height: 40px;
	margin-top:35px;
    background-color:rgba(0, 0, 0, 0.8);
}


.source-container:hover .source-item-controls {
    display:block;

}

.container {
	position:relative;
    width: 300px;
    height: 170px;
    overflow: hidden;
}

.inner {
	display:none;
    width: 100%;
    height: 40px;
    background-color:rgba(0, 0, 0, 0.8);
	margin-top:30px;
	padding:10px;
}

.title {
	z-index:99;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:30px;
	background-color:rgba(0, 0, 0, 0.5);
	color:#fff;
	padding-top:6px;
	padding-left:10px;
	padding-right:20px;
	font-family: Dax, Verdana, Arial, Helvetica, sans-serif;
	}
	
.thumb {
	position:absolute;
	top:0px;left:0px;
	z-index:0;
    text-decoration: none;
    width: 300px;
    height: 170px;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	overflow:hidden;
}

.container:hover .inner {
    opacity: 0.8;
	display:block;
}

.container:hover .thumb{
    opacity: .7;
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
.inner > a {
	color: #fff;
	margin-left: 10px;
	margin-top: 10px;
}