.row, .col { 
	overflow: hidden; 
	position: absolute; 
  margin:0;
  padding:0;
}
.row { 
	left: 0; 
	right: 0; 
}
.col { 
	top: 0;
	bottom: 0;
}
.scroll-x { 
	overflow-x: auto; 
}
.scroll-y { 
	overflow-y: auto; 
}
.header.row { 
	height: 50px; 
	line-height: 50px;
	top: 0;
	padding: 0;
}
.header-bottom-border.row {
  height:1px;
  bottom:0;
}
.header.branding {
	float: left;
	line-height:inherit;
	margin: auto 20px;
}
.header.navlist {
	position:absolute;
	width:100%;
	z-index:9;
	line-height:inherit;
	margin: auto 20px;
	text-align:center;
	padding-top: 3px;
}
.header.menu {
	float: right;
	line-height:inherit;
	margin: auto 20px;
}
.body.row { 
	top: 60px; 
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.fullscreen.row {
	top: 0px;
	right: 20px;
	bottom: 10px;
	left: 20px;
	z-index: 99999;
}
.left.col { 
	left: 10px;
	width: 400px; 
	/* overflow-y:auto; */
}
.center.col {
	left: 420px;   /* This should equal the width of the left.col (above) */
	right: 10px;
	overflow:auto;
}
.right.col { 
	width: 250px; 
	right: 0px;
}
.footer.row { 
	height: 60px; 
	bottom: 0; 
}

.section {
	position:absolute;
	top: 0px;
	bottom: 10px;
	left: 0px;
	right: 0px;
}


/*----------------------------------
	Extras
----------------------------------*/
.hidden {
	display: none;
}
.vis-hidden {
  visibility: hidden;
}
.block {
  display:block !important;
}
.inline {
	display: inline-block;
	vertical-align:top;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.pull-center {
	text-align: center !important;
}
.clear {
  clear: both;
}



