
/* ------------------------------------------------------------------------------
General UI Themeing Only  -  Absolutely NO sizing or positioning to be used in this CSS file
--------------------------------------------------------------------------------*/
html, body {
	font-family:Verdana, sans-serif;	
}



/* --------------------------------------
Base Colors 
---------------------------------------*/
.bg {
	/* background: #e0e3e4; */
	background: #f8f8f8;
}

.barco-gray {
	background: #68737a;
}

.barco-dark-gray {
	background: #3d444a;
}

.barco-red, .red {
	background: #ed1c24;
}

.white-blue {
	color: #C2CACF;
}

/* gray for panels - dark to light */
.gray1 {
	background: #e1e1e1;
}

.gray2 {
	background: #eaeaea;
}

.gray3 {
	background: #f1f1f1;
}

.gray4 {
	background: #f8f8f8;
}

.font-light {
	color: #f5f5f5;
}

.font-dark {
	color: #3d444a;
}

/*---------------------------------------
Typography
---------------------------------------*/

.h1 {
	font-size: 24px;
	font-weight:normal;	
}

.h2 {
	font-size: 20px;
	font-weight:normal;	
}

.h3 {
	font-size: 16px;
	font-weight:normal;
}

.h4 {
	font-size: 14px;
	font-weight:normal;
}

.h4 {
	font-size: 12px;
	font-weight:normal;
}

.title {
	color:#68737A;
	font-size: 20px;
}

.subtitle {
	color:#3d444a;
	font-size: 16px;
}


/*---------------------------------------
Button Styles
---------------------------------------*/
.square {
	border-radius: 0;
}

.sourceTab {
	border-radius: 0;
	color: #454545;
	font-size: 16px;
	padding:10px 10px 0px 10px;
}

.sourceTabOff {
	padding:12px 10px 0px 10px;
	border-radius: 0;
	border: none;
	background: #eaeaea;
	color: #777777;
}
.sourceTabOn {
	padding:10px 10px 0px 10px;
	border-radius: 0;
	border: none;
	border-top: solid 4px #ed1c24;
	border-right: solid 1px #888888;
	background: #e1e1e1;
	color: #454545;
	font-weight:normal;
}

.btn-playback {
	border-radius: 0;
	border: solid 1px #aaa;
	color: #777777;
	padding: 0;
}

.header-menu {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6d6d6), color-stop(1, #c0c0c0));
	background:-moz-linear-gradient(top, #d6d6d6 5%, #c0c0c0 100%);
	background:-webkit-linear-gradient(top, #d6d6d6 5%, #c0c0c0 100%);
	background:-o-linear-gradient(top, #d6d6d6 5%, #c0c0c0 100%);
	background:-ms-linear-gradient(top, #d6d6d6 5%, #c0c0c0 100%);
	background:linear-gradient(to bottom, #d6d6d6 5%, #c0c0c0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#c0c0c0',GradientType=0);
	background-color:#d6d6d6;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#454545;
	font-size:18px;
	font-weight:bold;
	height:25px;
}	

.btn-primary {
	background-color: #5C7F92;
	border: 0px solid #466171;
	color: #f5f5f5;
	cursor: pointer;
	font-weight: normal;
	padding: 4px 12px;
	white-space: nowrap;
}

.btn-primary-dark {
	background-color: #4D555B;
	border: solid 1px #fff;
	font-size: 16px;
	color: #f5f5f5;
	text-align: center;
}
.btn-primary-dark-over {
	background-color: #5d676e;
	cursor:pointer;
}

.btn-primary:hover {
	background-color:#6095AE;
}

.btn-cancel {
	background-color: #d8d8d8;
	border: 0px solid #cfcfcf;
	color: #666;
	cursor: pointer;
	font-weight: normal;
	padding: 4px 12px;
	white-space: nowrap;
	position: relative;
}

.btn-cancel:hover {
	background-color:#d1d1d1;
}

.btn-sidebar {
	background-color: #cccccc;
	color: #e5e5e5;
	font-size: 16px;
	text-align:center;
}

.btn-sidebar-over {
	background-color: #cccccc;
	color: #f1f1f1;
	font-size: 16px;
}

.btn-sidebar-active {
	background-color: #dddddd;
	color: #f5f5f5;
	font-size: 16px;
	border-left: solid 4px #ed1c24;
}

.btnplay {
	background: red;
  background-image: url("../image/playback-play.png");
  background-repeat: no-repeat;
}

/*---------------------------------------
Forms
---------------------------------------*/
.dark-input {
	background: #5E686F;
	border: solid 1px #C2CACF;
	color: #f5f5f5;
}


/*---------------------------------------
Panel Styles
---------------------------------------*/
.header-toolbar {
	background: #CED2D7;
}

.card {
	padding:10px 20px;
	white-space: normal;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	background: #fff;
	text-decoration: none;
}

.panel {
	background: #f1f1f1;
}

.alert {
	background: #ff3333;
	color: #ffffff;
}

.warning {
	background: #ff9900;
	color: #ffffff;
}



/*---------------------------------------
Controller Page Styles
---------------------------------------*/

.source-panel-container {
  background: #dddddd;
}
.source-panel-menu {
	background: #cccccc;
}

/* line 113, ../../../resources/sass/tabletgui.scss */
.source-list-bg {
  background: #dddddd;
}

/* line 117, ../../../resources/sass/tabletgui.scss */
.source-item-container {
  position: relative;
  /* width: 194px;
  height: 140px;
  */
  width: 280px;
  height: 120px;
  white-space: normal;

 /* -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	background: #fff;
	text-decoration: none; */
}

/* line 128, ../../../resources/sass/tabletgui.scss */
.source-item-title {
  position: absolute;
  left: 8px;
  bottom: 2px;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  color: #5a5a5a;
  font-size: 18px;
  text-align: center;
}

/* line 142, ../../../resources/sass/tabletgui.scss */
.live-item-thumb {
  position: absolute;
  left: 8px;
  top: 0px;
  border: solid 0px #e5e5e5;
  /* background: #8EAAC1; */
  background: #cccccc;
  background-image: url("../image/livethumb.png");
  background-repeat: no-repeat;
  /*width: 178px;  height: 100px; */
  width: 160px; height: 90px;
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */

.source-item-title {
  position: absolute;
  left: 8px;
  bottom: 2px;
  width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Arial, Helvetica, sans-serif;
  color: #5a5a5a;
  font-size: 16px;
  text-align: center;
}
}









/* line 154, ../../../resources/sass/tabletgui.scss */
.rec-item-thumb {
  position: absolute;
  left: 0px;
  top: 0px;
 /* border: solid 1px #e5e5e5;
  background: #8EAAC1; */
 background: #e1e1e1;
  background-image: url("../image/recthumb.png");
  background-repeat: no-repeat;
  width: 178px;
  height: 100px;
}

/* line 166, ../../../resources/sass/tabletgui.scss */
.connected {
  background: #33ff00;
  border: solid 2px green;
}


/* line 170, ../../../resources/sass/tabletgui.scss */
.source-item-status {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 6px;
  width: 236px;
}

/* line 184, ../../../resources/sass/tabletgui.scss */
.display-panel-container {
  border: 1px solid #f1f1f1;
  background: #cbced0;
  margin-left: 10px;
}

/* line 192, ../../../resources/sass/tabletgui.scss */
.display-item-container {
  position: relative;
  width: 380px;
  height: 240px;
  display: block;
  margin: 10px 20px 10px 100px;
}

/* line 200, ../../../resources/sass/tabletgui.scss */
.display-item-title {
  font-family: Arial, Helvetica, sans-serif;
  color: #262c2e;
  font-size: 20px;
  padding: 0px;
  margin: 0 4px 4px 4px;
}

/* line 208, ../../../resources/sass/tabletgui.scss */
.display-item-thumb-container {
  position: relative;
  width: 336px;
  height: 196px;
  border-radius: 6px;
  border: solid 1px white;
  border-bottom: none;
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#f4f4f4, #e7e7e7);
  box-shadow: 0 8px 18px -10px black;
}

/* line 220, ../../../resources/sass/tabletgui.scss */
.display-item-thumb {
  height: 180px;
  margin: 8px;
  background: #8EAAC1;
  background-image: url("../image/displaythumb.png");
  background-position: center;
  background-repeat: no-repeat;
}

/* line 229, ../../../resources/sass/tabletgui.scss */
.connected {
  background: #5bb351;
  border: solid 1px green;
}
.selected {
	border: solid 1px yellow;
}

/* line 234, ../../../resources/sass/tabletgui.scss */
.deleteplaceholder {
  z-index: 99;
  position: absolute;
  top: 30px;
  right: 8px;
}

/* line 242, ../../../resources/sass/tabletgui.scss */
.display-item-delete {
  position: absolute;
  right: 8px;
  top: 30px;
}

/* line 248, ../../../resources/sass/tabletgui.scss */
.display-item-delete-hidden {
  display: none;
}

/* line 252, ../../../resources/sass/tabletgui.scss */
.display-item-source {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 300px;
  line-height: 1.5em;
  border-radius: 5px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.1) -1px -1px 1px, rgba(45, 45, 45, 0.8) 1px 1px 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 275, ../../../resources/sass/tabletgui.scss */
.display-window {
  display: inline-block;
  color: #FFF;
  border: solid 2px #efefef;
  float: left;
}

/* line 282, ../../../resources/sass/tabletgui.scss */
.layout2x1 {
  width: 50%;
  height: 100%;
}

/* line 287, ../../../resources/sass/tabletgui.scss */
.layout2x2 {
  width: 50%;
  height: 50%;
}

/* line 292, ../../../resources/sass/tabletgui.scss */
.layout3x2 {
  width: 33.3%;
  height: 50%;
}

/* line 297, ../../../resources/sass/tabletgui.scss */
.layout3x3 {
  width: 33.3%;
  height: 33.3%;
}

/* line 302, ../../../resources/sass/tabletgui.scss */
.layout4x2 {
  width: 25%;
  height: 50%;
}

/* line 307, ../../../resources/sass/tabletgui.scss */
.layout4x4 {
  width: 25%;
  height: 25%;
}



