[ req ]
distinguished_name	= req_distinguished_name
prompt				= no
[ req_distinguished_name ]
C					= US
ST					= California
L					= Sunnyvale
O					= Barco
OU					= VNG
emailAddress		= support@barco.com
