########################################################################

target-type	:=	exe
target-name	:=	ProtoModifier
target-ver-maj	:=	1
target-ver-med	:=	0
target-ver-min	:=	0
target-sources	:=	*.cpp *.h
target-mocs	:=	
target-guis	:=	
target-deps	:=	BFC_IO
target-incldirs	:=	
target-libs	:=	
target-libdirs	:=	

########################################################################

target-uuid	:=	87904337-ecfc-4f70-b1b3-77e52c26b061

########################################################################
